/*Stylesheet*/
@font-face {
    font-family: 'LetrasetGlobaleBoldTT';
    src: url('../fonts/LetrasetGlobaleBoldTT.eot');
    src: url('../fonts/LetrasetGlobaleBoldTT.eot') format('embedded-opentype'),
        url('../fonts/LetrasetGlobaleBoldTT.woff2') format('woff2'),
        url('../fonts/LetrasetGlobaleBoldTT.woff') format('woff'),
        url('../fonts/LetrasetGlobaleBoldTT.ttf') format('truetype'),
        url('../fonts/LetrasetGlobaleBoldTT.svg#LetrasetGlobaleBoldTT') format('svg');
}
@font-face {
    font-family: 'LetrasetGlobaleTT';
    src: url('../fonts/LetrasetGlobaleTT.eot');
    src: url('../fonts/LetrasetGlobaleTT.eot') format('embedded-opentype'),
        url('../fonts/LetrasetGlobaleTT.woff2') format('woff2'),
        url('../fonts/LetrasetGlobaleTT.woff') format('woff'),
        url('../fonts/LetrasetGlobaleTT.ttf') format('truetype'),
        url('../fonts/LetrasetGlobaleTT.svg#LetrasetGlobaleTT') format('svg');
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    text-decoration: none;
    font-family: Arial;
    list-style: none;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
body{
    background: #fff;
}
img{
    max-width: 100%;
}

/*Predefined classes*/
.fl{
    float: left;
}
.fr{
    float: right;
}
.fullwidth{
    width: 100%;
}
.seventywidth{
    width: 70%;
}
.sixtywidth{
    width: 60%;
}
.halfwidth{
    width: 50%;
}
.fourtywidth{
    width: 40%;
}
.thirtywidth{
    width: 30%;
}
.h_mid{
    float: none;
    margin: 0 auto;
    display: table;
}
.v_mid{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.display_none{
    display: none;
}
.cntr_txt{
    text-align: center;
}
.heading{
    font-family: 'LetrasetGlobaleBoldTT';   
}
.heading_light{
    font-family: 'LetrasetGlobaleTT';
}
.heading_blue{
    color: #00a8ab;
}
.heading_orng{
    color: #f28c00;
}
.desHe{
    font-size: 25px;
}
.desP{
    font-size: 13px;
}
.desP2{
    font-size: 14px;
}
.desHpink{
    color: #af0f64;
}
.desHgrey{
    margin:0 8px;
    color: #6f6f6e;
}
.desHblue{
    color: #005680;
}
.desHgreen{
    color: #81bb26;
}
.desHwhite{
    color: #fff;
}
.desHpinkL{
    color: #f192b4;
}
.desHblack{
    color: #000;
}
.desHorg{
    color: #f28c00;
}
.bold{
    font-weight: bold;
}
.mar_0{
    margin: 0;
}
.mar20_0{
    margin: 20px 0;
}
.mar30_0{
    margin: 30px 0;
}
.marT_10{
    margin: 10px 0 0 0;
}
.marT_20{
    margin: 20px 0 0 0;
}
.marT_30{
    margin: 30px 0 0 0;
}
.marT_50{
    margin: 50px 0 0 0;
}
.marB_50{
    margin: 0 0 50px 0;
}
.marB_20{
    margin: 0 0 20px 0;
}
.marB_10{
    margin: 0 0 10px 0;
}
.pos_rel{
    position: relative;
}
/*End Predefined classes*/

.wrapper{
    max-width: 1366px;
    padding-bottom: 20px;
    /*    margin-bottom: 100px;*/

}

/*Splash Screen*/

.outer_container_splash{
    width: 950px;
    margin-top: 17px;
    margin-bottom: 19px;
}
.bottom_border{
    width: 100%;
    height: 16px;
    background: url('../images/border_bottom2.png') no-repeat bottom left;
    background-size: cover;
}
.inner_container_splash{
    width: 938px;
    /*    height: 512px;*/
    height: 445px;
    background: #f8f8f8;
    border: 1px solid #f28c00;
    border-bottom: 0;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.splash_header{
    margin-top: 18px;
}
.splash_content{
    margin-top: 17px;
    background: url('../images/manD3.png') no-repeat top center;
    /*    background-size: 50% 50%;*/
}
.splash_inner_content{
    margin-top: 150px;
    width: 717px;
    height: 220px;
}
.splash_inner_left{
    width: 320px;
}
.splash_inner_right{
    width: 345px;
}
.splash_inner_right .selection_heading{
    margin-top: -2px;
    margin-left: 0;
    position: relative;
    right: -7px;
    text-align: left;
    width: 153px;
    font-size: 19px;
    line-height: 26px;
    color: #00a8ab;
}
.splash_inner_left .selection_heading{
    margin-top: 11px;
    margin-left: 7px;
    text-align: right;
    width: 111px;
    font-size: 19px;
    line-height: 25px;
    color: #f28c00;
}
.border{
    width:83px;
    height: 2px;
    margin-top: 52px;
    opacity: 0.7;
}
.border.orange{
    background: #f28c00;
}
.border.blue{
    background: #00a8ab;
}
.splash_inner_right .border{
    width: 89px;
}
.splash_inner_left .selection_link{
    width: 101px;
    height: 103px;
    background: url('../images/left_click1.png') no-repeat left top;
}
.splash_inner_left .selection_link:hover,
.splash_inner_left .selection_link:active,
.splash_inner_left .selection_link:focus{
    background: url('../images/left_click1Hover.png') no-repeat left top;
}
.splash_inner_right .selection_link{
    width: 101px;
    height: 104px;
    background: url('../images/right_click1.png') no-repeat right top;
}
.splash_inner_right .selection_link:hover,
.splash_inner_right .selection_link:active,
.splash_inner_right .selection_link:focus{
    background: url('../images/right_click1Hover.png') no-repeat right top;    
}
.splash_footer{
    width: 437px;
}
.splash_footer > p{
    margin-top: 17px;
    font-size: 10.5px;
    line-height: 17px;
}
/*End Splash Screen*/

.patient_container{
    max-width: 949px;
    margin-top: 53px;
}
.navigation{
    width: 347px;
    margin-top: 20px;
}
.navigation > ul > li{
    margin-right: 20px;
}
.navigation > ul > li > a{
    color: #706f6f;
    padding-right: 10px;
    line-height: 21px;
    font-size: 14px;
    font-family: 'LetrasetGlobaleBoldTT';
}
body.hcp_section .navigation > ul > li > a{
    color: #706f6f;
}
.navigation > ul > li > a:hover,
.navigation > ul > li > a:active,
.navigation > ul > li > a:focus{
    color: #00a8ab;
}
body.hcp_section .navigation > ul > li > a:hover,
body.hcp_section .navigation > ul > li > a:active,
body.hcp_section .navigation > ul > li > a:focus{
    color: #f28c00;
}
.navigation > ul > li > a:after{
    content: "";
    width: 18px;
    height: 18px;
    background: #fff;
    border: 1px solid #00a8ab;
    border-radius: 50%;
    float: right;
}
body.hcp_section .navigation > ul > li > a:after{
    border: 1px solid #f28c00;
}
.navigation > ul > li > a:hover:after,
.navigation > ul > li > a:active:after,
.navigation > ul > li > a:focus:after{
    background: #00a8ab;
}
body.hcp_section .navigation > ul > li > a:hover:after,
body.hcp_section .navigation > ul > li > a:active:after,
body.hcp_section .navigation > ul > li > a:focus:after{
    background: #f28c00;
}
.main_nav{
    margin-top: 70px;
    position: relative;
}
.main_nav,
.main_nav *{
    overflow: visible;
}
body.hcp_section .main_nav{
    background: #f8f8f8;
    margin-top: 30px;
    padding-top: 30px;
    margin-bottom: 10px;
}
.main_nav  ul > li{
    margin-right: 20px;
}
.main_nav  ul > li > a{
    color: #6f6e6e;
    font-size: 11.7px;
    font-family: 'LetrasetGlobaleBoldTT';
}
.main_nav  ul > li > a > p{
    padding-bottom: 10px;
    padding-right: 10px;
    border-bottom: 2px solid #00a8ab;
}
body.hcp_section .main_nav  ul > li > a > p{
    border-bottom: 2px solid #f28c00;
}
.main_nav  ul > li > a > span.menu_icon{
    width: 41px;
    height: 42px;
    background: url('../images/patient/nav_icon.png');
    margin-top: 6px;
}
body.hcp_section .main_nav  ul > li > a > span.menu_icon{
    background: url('../images/hcp/nav_icon.png');    
}
.main_nav  ul > li > a:hover,
.main_nav  ul > li > a:active,
.main_nav  ul > li > a:focus{
    color: #00a8ab;   
}
body.hcp_section .main_nav  ul > li > a:hover,
body.hcp_section .main_nav  ul > li > a:active,
body.hcp_section .main_nav  ul > li > a:focus{
    color: #f28c00;
}
.main_nav  ul > li > a:hover span.menu_icon,
.main_nav  ul > li > a:active span.menu_icon,
.main_nav  ul > li > a:focus span.menu_icon{
    background: url('../images/patient/nav_icon_hover.png');
}
body.hcp_section .main_nav  ul > li > a:hover span.menu_icon,
body.hcp_section .main_nav  ul > li > a:active span.menu_icon,
body.hcp_section .main_nav  ul > li > a:focus span.menu_icon{
    background: url('../images/hcp/nav_icon_hover.png');
}
.main_slider{
    width: 945px;
    height: 400px;
    margin-top: 5px;
    border: 1px solid #00a8ab;
    border-bottom: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    position: relative;
}
.slider_arrows{
    width: 41px;
    height: 41px;
    z-index: 1000;
}
.arrow_left{
    left: 30px;
    background: url('../images/patient/arrow_left.png');
}
.arrow_right{
    right: 30px;
    background: url('../images/patient/arrow_right.png');
}
.main_slider > ul > li > img{
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;    
    display: none;
}
.main_slider > ul > li:first-child > img{
    display: block;
}
img.mySlides{
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.main_content{
    margin-top: 30px;
}
.boxes_d3{
    width: 309px;
    height: 126px;
    margin-right: 10px;
}
.boxes_d3.last_cta{
    margin-right: 0px;
}
.boxes_d3.yellow_cta{
    background: #f28c00;
}
.boxes_d3.grey_cta{
    background:#706f6f;
}
.boxes_d3.blue_cta{
    background: #00a8ab;
}
.boxes_d3 > .inner_d3{
    width: 256px;
    height: 91px;
    padding: 17px 23px;
    position: relative;
}
.boxes_d3 > .inner_d3 .d3_2{
    left: 27px;
}
.boxes_d3 > .inner_d3 .d3_2{
    left: 47px;
}
.boxes_d3 > .inner_d3 .d3_3{
    left: 36px;
}
.boxes_d3 > .inner_d3 > h3{
    width: 140px;
    right: 20px;
    font-size: 20px;
    color: #fff;
    font-family: 'LetrasetGlobaleTT';
}
.thik_border{
    height: 18px;
    background: #00a8ab;
    box-shadow: 0 3px 8px -3px #00a8ab;
}
.patient_footer{
    margin-top: 50px;
    margin-bottom: 15px;
}
.patient_footer .inner_pfooter{
    width:calc(100% - 20px);
    padding: 0;
    background: #f8f8f8;
}
.patient_footer .inner_pfooter .patient_container{
    margin-top: 0;
}
.patient_footer .inner_pfooter .patient_container ul,
.patient_footer .inner_pfooter .patient_container ul li,
.patient_footer .inner_pfooter .patient_container ul li a{
    width: 100%;
}
.patient_footer .inner_pfooter .patient_container ul *{
    float: left;
}
.patient_footer .inner_pfooter .patient_container ul li a{
    color: #706f6f;
    font-size: 10px;
    margin-bottom: 10px;
}
.patient_footer .inner_pfooter .patient_container .note_section .notice_icon{
    margin-top: 25px;
    margin-left: 10px;
}
.patient_footer .inner_pfooter .patient_container .note_section .notice_area{
    width: 340px;
    margin-left: 30px;
}
.patient_footer .inner_pfooter .patient_container .note_section .notice_area h6,
.patient_footer .inner_pfooter .patient_container .note_section .notice_area p{
    color: #706f6f;
}
.patient_footer .inner_pfooter .patient_container .note_section .notice_area h6{
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
}
.patient_footer .inner_pfooter .patient_container .note_section .notice_area p{
    font-size: 10px;
    line-height: 18px;
}
.top_search{
    width: 265px;
    padding: 8px 21px;
    background: #f28c00;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.top_search *{
    font-size: 12px;
}
.top_search input.hcp_serach{
    width: 189px;
    height: 20px;
    padding: 2px 10px;
    background: #fff;
}
.top_search input.hcp_submit{
    width: 54px;
    height: 24px;
    color: #fff;
    background: #706f6f;
    cursor: pointer;
}
.hcp_container{
    width: 1025px;
}
.container{
    width: calc(100% - 73px);
}
body.hcp_section .slider{
    border: 1px solid #f28c00;
    border-bottom:0;
    margin-bottom: 1px;
}
body.hcp_section .slider ul > li{
    margin: 0;
}
.patient_container.hcp_content{
    margin-top: 7px;
}
.tp_cta{
    width:440px;
    margin-right: 5px;
    padding: 10px 14px;
    padding-bottom: 0;
    border-left: 1px solid #f28c00;
    border-right: 1px solid #f28c00;
}
.tp_cta h1{
    color: #f28c00;
    margin-bottom: 7px;
    font-size: 25px;
    margin-left: 7px;
}
.tp_cta p{
    font-size: 14px;
    color: #6f6f6e;
    line-height: 20px;
}
.tp_cta a{
    font-size: 12px;
    color: #f28c00;
    margin-top: 15px;
}
.tp_cta.tp_grey{
    margin-right: 0;
}
.tp_cta.tp_grey h1,
.tp_cta.tp_grey a,
.tp_cta.tp_grey ul li{
    color: #6f6f6e;
}
.tp_cta.tp_grey ul{
    padding-left: 50px;
    margin-top: 18px;
}
.tp_cta.tp_grey ul li{
    font-size: 12px;
    list-style-type: circle;
    list-style: initial;
}
.four_col_tp{
    margin-top: 45px;
}
.tp_cta_sm{
    width: 229.8px;
    height: 160px;
    margin-right: 6px;
    border: 1px solid #f28c00;
    position: relative;
    background: rgb(254, 254, 252);
}
.tp_cta_sm.tp_sm4{
    margin-right: 0;
}
.tp_cta_sm img{
    position: absolute;
    left: -0.6px;
}
.tp_cta_sm h1{
    position: absolute;
    font-size: 13px;
    font-weight: bold;
    top: 53%;
    left: 12px;
}
.tp_cta_sm p{
    position: absolute;
    font-size: 12px;
    top: 65%;
    left: 12px;
    width: 90%;
    color: #6f6f6e;
}
.tp_cta_sm.tp_sm1 img{
    top: -20px;
}
.tp_cta_sm.tp_sm1 h1{
    color:#af0f64;
}
.tp_cta_sm.tp_sm2 img{
    top: -26px;
}
.tp_cta_sm.tp_sm2 h1{
    color: #005680;
}
.tp_cta_sm.tp_sm3 img{
    top: -30px;
}
.tp_cta_sm.tp_sm3 h1{
    color: #81ba26;
}
.tp_cta_sm.tp_sm4 img{
    top: -24px;
}
.tp_cta_sm.tp_sm4 h1{
    color:#ea66a2;
}
.weather_cont{
    margin-top: 30px;
}
.weather_cont > h1{
    font-size: 18.5px;
    color: #f28c00;
    margin-bottom: 12px;
}
.one_col_tp{
    width: 532px;
    background: #f28c00;
}
.inner_one_col{
    width: 270px;
    padding: 15px 0;
}
.weather_det{
    width: 111px;
}
.weather_det *{
    font-family: 'LetrasetGlobaleTT';
    color: #fff;
}
body.hcp_section .thik_border{
    height: 18px;
    background: #f28c00;
    box-shadow: 0 3px 8px -3px #311d00;
}
span.weather_border{
    height: 6px;
    background: url(../images/hcp/w_border.png) no-repeat;
    background-position: -30px 0px;;
}
.pos_rel{
    position: relative;
}
.in_foot{
    padding: 25px 0;
}
.v_border{
    position: absolute;
    right: 16px;
    top: 0;
    width: 3px;
    height: 100%;
    transform: translateX(-50%);
    background: #f28c00;
}
body.patient_section .v_border{
    background: #00a8ab;
}
.pa_btm_brdr{
    padding-top: 13px;
}
.mobile_navigation{
    display: none;
}
.mobile_icon{
    width: 27px;
    height: 20px;
    background: url(../images/hcp/mobile_icon.png) no-repeat;
    margin-right: 20px;
    margin-top: 45px;
}
.mobile_footer{
    display: none;
    width: 365px;
}
.inner_pfooter .patient_container .mobile_footer > ul > li{
    float: left;
    width: auto;
    margin-right: 15px;
}
.inner_pfooter .patient_container .mobile_footer > ul > li:last-child{
    margin-right: 0;
}
.inner_pfooter .patient_container .mobile_footer > ul > li a{
    font-size: 12px;
}
body.patient_section .mobile_icon{
    background: url(../images/patient/mobile_icon.png) no-repeat;
    margin-top: 22px;
}
.temp_txt{
    font-size: 50px;
    line-height: 50px;
}
.temp_txt > span{
    font-size: 40px;
}
.weather_det > p{
    font-size: 18px;
    line-height: 18px;
}
.resp_heading_2{
    display: none;
    width: 100% !important;
}
.patient_content .patient_container{
    margin-top: 0px;
}
.patient_content .patient_container.nav_container{
    /*    width: 949px;*/
    width: 90%;
}
.bg_banner{
    height: 349px;
    margin-top: 40px;
    background: #e9f5f5;
    border-radius: 6px;
}
.bg_banner .main_nav{
    margin-top: 30px;
}
.patient_content.hcp_container{
    position: relative;
    min-height: 550px;
}
.patient_content.hcp_container .tabs_pos{
    position: absolute;
    left: 50%;
    top: 150px;
    transform: translateX(-50%);
}
.tabs{
    margin-top: 40px;
}
.tabs ul{
    position: relative;
}
.tabs ul li{
    float: left;
}
.tabs ul li a{
    float: left;
    width: 197px;
    height: 100px;
    padding: 0 15px;
    background: #706f6f;
    color: #fff;
    border: 1px solid #706f6f;
    border-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 10px;
}
.tabs ul li:last-child a{
    margin-right: 0;
}
.tabs ul li a i{
    float: left;
    width: 42px;
    height: 41px;
    background: url('../images/patient/tabs_bullet.png') no-repeat;
    color: #706f6f;
    text-align: center;
    line-height: 40px;
    font-style: normal;
    margin-top: 23px;
}
.tabs ul li a span{
    float: left;
    width: 120px;
    margin-left: 10px;
    margin-top: 25px;

}
.tabs ul li a span.long_tab{
    width: 130px;
}
.tabs ul li a:hover,
.tabs ul li a:active,
.tabs ul li a:focus,
.tabs ul li a:visited,
.tabs ul li a.active{
    background: #fff;
    border-color: #00a8ab;
}
.tabs ul li a:hover i,
.tabs ul li a:active i,
.tabs ul li a:focus i,
.tabs ul li a:visited i,
.tabs ul li a.active i{
    color: #fff;
    background: url('../images/patient/tabs_bullet_hover.png') no-repeat;
}
.tabs ul li a:hover span,
.tabs ul li a:active span,
.tabs ul li a:focus span,
.tabs ul li a:visited span,
.tabs ul li a.active span{
    color: #00a8ab;
}
.main_tab{
    z-index: 101;
}
.inaTab{
    width: calc(100% - 4.92px);
    height: auto;
    background: #fff;
    border: 1px solid #00a8ab;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    top: -1px;
    z-index: 99;
}
.inaTab li > img{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    float: left;
}
.main_heading{
    font-family: 'LetrasetGlobaleTT';
}
.tab4_lines{
    float: left;
    margin-top: 40px;
}
.tab4_lines li{
    float: left;
    width: 97%;
    padding: 10px 17px;
    background: url(../images/patient/tab_btm-brdr.png) no-repeat bottom left;
    position: relative;
}
.tab4_lines li span{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    display: table;
    height: 4px;
    color: #00a8ab;
}
.tab4_lines li p{
    float: none;
    width: 80%;
    margin: 0 auto;
    display: block;
    overflow: hidden;
    font-size: 13px;
    padding-left: 10px;
    color: #706f6f;
    background: url('../images/patient/bullet.png') no-repeat left 5px;
}
.download_btn{
    margin-top: 40px;
}
.btn_leaflet{
    padding: 20px 50px;
    background: #fff;
    border: 1px solid #00a8ab;
    border-radius: 10px;
    color: #00a8ab;
    font-family: 'LetrasetGlobaleBoldTT';
}
.btn_leaflet:hover,
.btn_leaflet:active,
.btn_leaflet:focus,
.btn_leaflet:visited{
    background: #00a8ab;
    color: #fff;
}
.tab4_2 .heading_blue {
    color: #00a8ab;
    font-size: 27px;
    width: 65%;
}
.tab4_2 .tab4_lines li{
    background: none;
    padding: 10px 0;
    width: 90%;
}
.tab4_2 .tab4_lines li > p{
    width: 48%;
    float: left;
    margin: 0;
}
.tab4_2 .tab4_lines li.heading_li{
    padding: 0px;
}
.tab4_2 .tab4_lines li.heading_li > p{
    color: #00a8ab;
    font-weight: bold;
    background: none;
}
.tab1_bg{
    background: url('../images/patient/tab1_bg.png') no-repeat right 0px;
}
.tab3 .patient_container{
    margin-top: -10px;
}
.tab_row_des{
    width: 600px;
    margin-top: 40px;
}
.main_det_li{
    margin-bottom: 50px;
    float: left;
    width: 100%;
}
.main_det_li:last-child{
    margin-bottom: 0px;
}
.det_per_row li{
    float: left;
    width: 100%;
    margin-top: 5px;
}
.det_per_row li p{
    float: left;
    width: 90%;
    font-size: 13px;
    padding: 5px 0 5px 25px;
    color: #706f6f;
    background: url('../images/patient/cross_bullet.png') no-repeat left 4px;
}
.tab2_heading{
    color: #005680;
    font-size: 22px;
}
.tab2_bg{
    background: url('../images/patient/bg_tab2.png') no-repeat bottom center;
}
.tab2_det1{
    position: relative;
    padding-bottom: 90px;
}
.dwn_icon{
    background: url(../images/patient/dwn_icon.png) no-repeat bottom center;
    width: 35px;
    height: 35px;
    position: relative;
    bottom: -13px;
}
.tab2_tratment{
    margin-top: 20px;
}
.tab2_bg2{
    background: url('../images/patient/bg2_tab2.png') no-repeat bottom center;
}
.btt_top{
    margin: 10px;
    font-size: 12px;
}
.sub_bullet span{
    float: left;
    width: 90%;
    font-size: 13px;
    padding: 5px 0 5px 10px;
    background: url('../images/patient/bullet_dark.png') no-repeat left 10px;
}
.sub_bullet span.sub_or{
    font-size: 16px;
    background: none;
    padding: 0;
    margin: 20px 0;
    font-weight: bold;
}
.tab1 .desHe{
    margin-bottom: 10px;
}



/*Tabs*/

.tab4{
    display: none;
}
.tab3{
    display: none;
}
.tab2{
    display: none;
}
.for_tab{
    display: none;
}
.for_tab.for_tab1{
    display: block;
}
.for_tab1 img{
    margin-left: 10px;
}

body.health_risks .patient_content.hcp_container{
    min-height: 950px;
}
.minus_top > h2{
    margin-bottom: 30px;
}

.man_figure{
    min-height: 770px;
    position: relative;
    background: url('../images/patient/man_figure.png') no-repeat top center;
    margin-top: 30px;
}
.sm_p{
    position: absolute;
    right: 0;
    top: 120px;
    font-size: 13px;
}
.fig_animate{
    position: absolute;
}
.fig_brain{
    width: 362px;
    height: 145px;
    top: -30px;
    left: 13.2%;
}
.fig_resparitry{
    width: 455px;
    height: 201px;
    top: -40px;
    right: 1%;
}
.fig_circularity{
    width: 490px;
    height: 201px;
    top: 158px;
    left: -3px;
}
.fig_pancreas{
    width: 465px;
    height: 153px;
    top: 190px;
    right: 1%;
}
.fig_bone{
    width: 385px;
    height: 190px;
    top: 350px;
    right: 7%;
}
.fig_muscle{
    width: 349px;
    height: 170px;
    top: 360px;
    left: 10%;
}
.fig_other{
    width: 306px;
    height: 170px;
    bottom: 22px;
    left: 33.8%;
}
.fig_res{
    display: none;
}

a.fig_plus{
    width: 26px;
    height: 26px;
    background: url('../images/patient/plus.png') no-repeat;
    margin-top: 42px;
}
a.fig_plus.fig_cross{
    background: url('../images/patient/cross.png') no-repeat;
}
.fig_resparitry a.fig_plus{
    margin-left: -7px;
    margin-top: 175px;
}
.fig_circularity a.fig_plus{
    margin-top: 0;
}
.fig_pancreas a.fig_plus{
    margin-top: 71px;
}
.fig_bone a.fig_plus{
    margin-top: 0px;
}
.fig_muscle a.fig_plus{
    margin-top: 0;
}
.fig_other a.fig_plus{
    margin-top: 0;
}


.fig_det{
    opacity: 0;
    transform-origin: right 55px;
    transform: scale(0);
}
.fig_det.fig_vis{
    opacity: 1;
    transform: scale(1);
}
.fig_resparitry .fig_det{
    width: 420px;
    transform-origin: left 180px;
    margin-top: 6px;
}
.fig_circularity .fig_det{
    margin-top: 17px;
    width: 440px;
    transform-origin: right 0;
}
.fig_pancreas .fig_det{
    transform-origin: left 80px;
}
.fig_bone .fig_det{
    margin-top: 15px;
    transform-origin: left 0;
}
.fig_muscle .fig_det{
    margin-top: 13px;
    transform-origin: right 0;
}
.fig_other .fig_det{
    margin-top: 13px;
    transform-origin: top 0;
}
body.treatment_page .bg_banner{
    overflow: hidden;
    margin-bottom: 50px;
    height: 370px;
}
.treatment_det p{
    margin-bottom: 20px;
}
.treatment_det p.bold{
    margin-bottom: 5px;
}
.causes_head{
    padding: 20px 0;
    background: #00a8ab;
    border-radius: 10px;
}
.causes_head h4{
    color: #fff;
    text-indent: 18px;
    font-family: 'LetrasetGlobaleTT';
}
.causes_det p{
    margin: 0;
    padding: 27px 0;
}
.c_sep{
    position: relative;
    bottom: -3px;
    background: url('../images/patient/border_bottom.png') no-repeat;
    height: 2px;
    background-size: 100%;
}
.ar_sec{
    margin-top: 30px;
}
.ar_sec > h2{
    margin-bottom: 80px;
}
.at_risk{
    width: 450px;
    border-radius: 15px;
    margin-bottom: 35px;
}
.risk_lable{
    padding: 25px 0;
    background:#00a8ab;
    font-family: 'LetrasetGlobaleTT';
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.boosting_banner{
    margin-top: 25px;
}
.boost_box{
    position: relative;
    width: 320px;
    height: 220px;
}
.boost_box.boostbox_last{
    width: 293px;
}
.inner_boost{
    width: 291px;
    overflow: hidden;
    cursor: pointer;
}
.inner_boost > .boost_bg{
    width: 100%;
    height: 123px;
    /*    height: 160px;*/
    background-size: 100% auto;
}
.actived_boost .inner_boost > .boost_bg{
    height: 160px;
}
.inner_boost > .boost_bg.boost_bg1{
    background: url('../images/patient/boost1.png') no-repeat;
}
.inner_boost > .boost_bg.boost_bg2{
    background: url('../images/patient/boost2.png') no-repeat;
}
.inner_boost > .boost_bg.boost_bg3{
    background: url('../images/patient/boost3.png') no-repeat;
}
.boost_heading{
    padding: 20px 0;
    background:#00a8ab;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.boost_heading h4{
    color: #fff;
    font-family: 'LetrasetGlobaleTT';
}
.boost_icon{
    position: absolute;
    top: 45px;
    right: -16px;
    width: 63px;
    height: 63px;
    background: url('../images/patient/boostplus.png') no-repeat;
    z-index: 10;
}
.boost_tabs{
    margin-top: -10px;
    background: url('../images/patient/boost_det_bg.png') no-repeat top center;
}
.inner_boostdet{
    background: url('../images/patient/border_bottom.png') no-repeat top center;
    width: 90%;
    padding: 20px 0;
}
.inner_boostdet > p{
    margin: 0;
    padding: 10px 0;
}
.boost_bullet1{
    width: 265px;
    padding: 20px 0;
}
.boost_bullet1 > p{
    background: url('../images/patient/bullet_dark.png') no-repeat left 5px;
    width: 80%;    
    padding-left: 10px;
    margin-bottom: 5px;
}
.inner_boostdet{
    display: none;
}
.des11{
    font-size: 11px;
}
.des12{
    font-size: 12px;
}
.boost_tab1{
    display: block;
}


.subnav{
    position: absolute;
    left:0px;
    top: 20px;
    width: 140px;
    z-index: 100000;
    padding: 30px 0;
    display: none;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
}
.main_nav  ul > li .subnav > li{
    margin: 0;
    width: 100%;
    float: left;
    padding: 0 10px;
}
.main_nav  ul > li .subnav > li > a{
    float: left;
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 7px 10px;
    background: #00a8ab;
    box-sizing: border-box;
}
.main_nav ul > li .subnav > li > a:hover {
    background: #fff;
    color: #00A8AE;
}
.for_subnav:hover .subnav{
    display: block;
}
.resposnsive_menu{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 10000;
    background: rgba(0, 65, 66, 0.95);
    padding-top: 50px;
    display: none;
    transition: none !important;
}
.resposnsive_menu ul{
    width: 80%;
}
.resposnsive_menu ul *{
    font-family: Arial;
    color: #fff;
}
.resposnsive_menu ul li{
    float: left;
    width: 100%;
    padding: 5px 0 5px 25px;
    background: url('../images/patient/res.png') no-repeat left 5px;
    background-size: 15px auto;
}
.resposnsive_menu  ul  li .subnav{
    position: inherit;
    transition: none !important;
    padding-left: 0;
    float: left;
    width: 89%;
}
.resposnsive_menu .for_subnav:hover .subnav{
    display: none;
}
.close_nav_icon{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background: url('../images/patient/res_close.png') no-repeat top right;
    background-size: 80% auto;
}
.c_sepNav{
    float: left;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 27px;
}
body.syptoms_page .patient_content.hcp_container{
    min-height: auto;
}
body.syptoms_page .patient_content.hcp_container .bg_banner{
    height: 190px;
}
.symp_box{
    width: 240px;
    padding: 25px 30px;
    background: url('../images/patient/boost_det_bg.png') no-repeat top center;
    height: auto;
    margin-right: 15px;
}
.symp_box:last-child{
    margin-right: 0;
}
.symp__det{
    float: left;
    width: 90%;
    padding-left: 12px;
    margin: 0 0 5px 10px;
    background: url('../images/patient/bullet.png') no-repeat left 5px;
}
.symptoms_bottom{
    padding: 0;
    height: 260px;
    background: url(../images/patient/symptoms.png) no-repeat top center;
}
.symptoms_bottom > p{
    width: 65%;
    margin: 140px auto 0;
    color: #6f6f6e;
}
body.whatIsIt .patient_content.hcp_container{
    min-height: 1200px;
}
body.whatIsIt .patient_content.hcp_container .bg_banner{
    height: 500px;
}
body.whatIsIt .boost_box{
    height: auto;
}
body.whatIsIt .inner_boost{
    width: 240px;
}
.wii_p{
    width: 90%;
    margin: 20px auto 0;
}
.wi_defi{
    width: 560px;
    padding: 20px;
    background: #fff;
    border: 1px solid #f28c00;
    border-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.lightH_25{
    font-weight: lighter;
    font-size: 25px;
}
.top_bg{
    padding: 30px;
    background: url('../images/patient/boost_det_bg.png') no-repeat top center;
    background-size: 100% auto;
    box-sizing: border-box;
}
.wi_boxes{
    width: 26%;
    height: 110px;
    padding: 20px;
    margin-right: 32px;
    background: #fff;
    border: 1px solid #00a8ab;
    border-radius: 10px;
}
.wi_boxes:last-child{
    margin-right: 0;
}
body.faq_page .bg_banner{
    overflow: hidden;
    margin-bottom: 50px;
    height: auto;
}
.causes_head.ans_head{
    background: #9fd5d7;
}
.causes_head.ans_head > h4{
    color:#00a8ab;
}
.faq_qu{
    font-size:13px;
    font-weight:bold;
    color:#00a8ab;
}
.sixty7width{
    width: 67%;
}
.faq_sec{
    padding: 0 20px;
    box-sizing: border-box;
}
.faq_bullet{
    padding-left: 10px;
    box-sizing: border-box;
    background: url('../images/patient/bullet.png') no-repeat left 6px;
}
.faq_sep.c_sep{
    background: url(../images/patient/border_bottom.png) no-repeat top center;
    background-size: 64% auto;
}
.faq_row p{
    line-height: 17px;
}



/*Starting HCP Sections *//*Starting HCP Sections *//*Starting HCP Sections */

body.hcp_section .main_nav  ul > li .subnav > li > a{
    background: #f28c00;
    color: #fff;
}
body.hcp_section .main_nav  ul > li .subnav > li > a:hover{
    background:#fff;
    color:#f28c00;
}
body.hcp_section .main_slider{
    border: 1px solid #f28c00;
}
body.hcp_section .main_slider ul > li{
    width: 100%;
    margin: 0;
}
.intro_top{
    width: 376px;
    height: 186px;
    background: rgba(254, 254, 254, 0.86);
    position: absolute;
    right: 0px;
    bottom: 0px;
    border: 1px solid #f28c00;
    border-right: 0;
    border-bottom: 0;
    border-top-left-radius: 25px;
    padding: 40px;
    box-sizing: border-box;
}
.intro_slider{
    width: 740px;
    height: 357px;
    border-right: 1px solid #f28c00;
    border-left: 1px solid #f28c00;
}
.intro_right{
    width: 200px;
    padding: 10px;
    border-right: 1px solid #f28c00;
    box-sizing: border-box;
}
.right_intro_cta > li{
    float: left;
    width: 100%;
}
.right_intro_cta > li > a{
    float: left;
    width: 100%;
    color: #000;
    padding: 15px 0;
    text-align: center;
    border-bottom: 1px solid #f7f6f6;
}
.right_intro_cta > li > a:hover,
.right_intro_cta > li > a:active,
.right_intro_cta > li > a:focus,
.right_intro_cta > li > a:visited{
    color: #f28c00;
}
.contact_form{
    padding: 50px 100px;
    box-sizing: border-box;
    border: 1px solid #00a8ab;
    border-radius: 10px;
    background: rgba(0, 168, 171, 0.04);
}
.contact_form h4{
    float: left;
    width: 100%;
    color: #00a8ab;
    font-family: 'LetrasetGlobaleTT';
}
.contact_form input,
.contact_form textarea{
    float: left;
    width: 100%;
    color: #00a8ab;
    font-size: 14px;
    background: #fff;;
    margin-top: 10px;
    padding: 15px 20px;
    border: 1px solid #00a8ab;
    box-sizing: border-box;
    border-radius: 5px;
}
.contact_form textarea{
    min-height: 150px;
    resize: vertical;
}
.btn.btn_standered{
    padding: 15px 50px;
    background: #00a8ab;
    border: 1px solid #00a8ab;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-family: 'LetrasetGlobaleBoldTT';
    font-size: 16px;
}
.btn.btn_standered:hover{
    background: #fff;
    color: #00a8ab;
}
.reminder_row h5{
    padding: 10px 0;
    width: 285px;
}
.reminder_row select,
.reminder_row input{
    float: left;
    padding: 10px 20px;
    width: 200px;
    background: #fff;
    color: #00a8ab;
    border: 1px solid #ccc;
    margin-right: 20px;
    box-sizing: border-box;
}
.reminder_row .btn.btn_standered{
    padding: 10px 20px;
    background: #fff;
    color: #00a8ab;
    font-size: 14px;
}
.reminder_row .btn.btn_standered:hover{
    background: #00a8ab;
    color: #fff;
}
.reminder_list{
    list-style: decimal;
}
.reminder_list li{
    float: left;
    width: 100%;
}
.reminder_list b{
    color: #00a8ab;
    margin-right: 5px;
}


.boost_box_res{
    width: 85%;
    display: none;
}
.boost_box_res > div{
    margin-top: 20px;
}
.boost_box_res > div > h4,
.boost_box_res > div > p{
    text-align: left;
    margin: 0 0 5px 0;
}
.boost_box_res > div > .wii_p{
    float: left;
    width: 100%;
}

.res_boost{
    float: left;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin: 0;
    background: none;
    display: none;
    opacity: 0;
    visibility: hidden;
}
img.res_c_img{
    display: none;    
}
.res_headOnly{
    display: none;
}
body.tabs_page .patient_content.hcp_container{
    min-height: inherit;
}
body.tabs_page .h_mid{
    display: block;
    overflow: hidden;
}
.res_about_us{
    margin-top: 50px;
    padding-top: 50px;
    background: #e9f5f5;
}
body.tabs_page .tabs-section{
    padding: 0 20px;
    box-sizing: border-box;
}
body.tabs_page.tabs_page2 .tabs-section{
    padding: 0;
}
body.tabs_page.tabs_page2 .tabs-section > div.fullwidth{
    padding: 0 20px;
    box-sizing: border-box;
}
body.tabs_page .main_det_li img.fl{
    width: 35%;
}
body.tabs_page .tab_row_des{
    width: 60%;
}
body.tabs_page .h_mid.res_dosage{
    display: none;
}
body.not_to_take.tabs_page .main_det_li img.fl{
    width: 280px;
    margin: 0 auto;
    float: none;
    display: block;
    overflow: hidden;
}
body.not_to_take.tabs_page .tab_row_des{
    width: 100%;
    margin-top: 30px;
}

body.dosage_tab.tabs_page .tab1_bg{
    background: none;
}
body.dosage_tab.tabs_page .tab4_lines li{
    width: 100%;
    padding: 10px 0;
}
body.dosage_tab.tabs_page .btn_leaflet{
    margin: 0 auto 20px;
    float: none;
    display: block;
    overflow: hidden;
    width: 180px;
}
body.dosage_tab.tabs_page .tab4_2 .heading_blue{
    width: 100%;
    padding: 0;
}
body.dosage_tab.tabs_page .tab4_2 .tab4_lines li > p{
    width: 100%;
}
.patient_content.hcp_container{
    width: 100%;
}
.hcp_container{
    width: 100%;
}

/*Browser's hacks'*/
@supports (-moz-appearance:meterbar) {
    .patient_content.hcp_container .tabs_pos{
        position: inherit !important;
        left: inherit !important;
        top: inherit !important;
        right: inherit !important;
        bottom: inherit !important;
        transform:none;
        float: left;
        width: 100%;
        padding: 0 38px;
        margin-top: -400px;
    }
}
@supports (-moz-appearance:meterbar) {
    body.syptoms_page .patient_content.hcp_container .tabs_pos{
        margin-top: -75px;
    }
}
@media(max-width:1060px){
    @supports (-moz-appearance:meterbar) {
        .patient_content.hcp_container .tabs_pos{
            padding: 0 !important;
        }
        body.syptoms_page .patient_content.hcp_container .tabs_pos{
            margin-top: -115px;
        }
    }    
}
@media(max-width:770px){
    @supports (-moz-appearance:meterbar) {
        .patient_content.hcp_container .tabs_pos{
            margin-top: -500px;
            padding: 0 !important;
        }
        body.syptoms_page .patient_content.hcp_container .tabs_pos{
            margin-top: -115px;
        }
    }    
}
@media(max-width:740px){
    @supports (-moz-appearance:meterbar) {
        body.syptoms_page .patient_content.hcp_container .tabs_pos{
            margin-top: -80px;
        }        
    }
}