@media(max-width:1060px){
    body{
        overflow-x: hidden;
    }
    .hcp_container{
        width: 90%;
    }
    .patient_container.hcp_content{
        width: 90%;
    }
    .container{
        width: 100%;
    }
    .tp_cta_sm{
        width: 49.4%;
        margin-bottom: 40px;
    }
    .tp_cta_sm:nth-child(2),
    .tp_cta_sm:nth-child(4){
        margin-right: 0;
    }
    .main_slider{
        width: 97%;
        height: auto;
        margin: 35px auto 0;
        float: none;
        display: block;
        overflow: hidden;
    }
    .two_col_tp.fullwidth.fl{
        width: 97.5%;
        margin: 0 auto;
        float: none;
        display: block;
        overflow: hidden;
    }
    .two_col_tp.fullwidth.fl .tp_cta{
        width: 47.43%;
        min-height: 200px;
        padding: 10px 1%;
    }
    .four_col_tp{
        width: 97.5%;
        margin: 0 auto;
        float: none;
        display: block;
        overflow: hidden;
        padding-top: 50px;
    }
    .res_nav{
        margin-left: 15px;
        margin-bottom: 5px;
    }
    .patient_footer .inner_pfooter .patient_container .note_section .notice_area{
        width: 240px;
    }
    .main_content {
        margin: 30px auto;
        float: left;
        width: 100%;
        display: block;
        overflow: hidden;
    }
    .boxes_d3{
        width: 32.5%;
    }
    .boxes_d3 > .inner_d3{
        width: 93%;
        padding: 17px 10px;
    }
    .boxes_d3 > .inner_d3 .d3_3,
    .boxes_d3 > .inner_d3 .d3_2{
        left: 27px;
    }
    .main_nav  ul > li{
        margin-right: 5px;
    }
    .main_nav  ul > li > a > p{
        padding-right: 5px;
    }
    .main_heading{
        padding: 0 30px;
        box-sizing: border-box;
    }
    body.whatIsIt .boost_box{
        width: 33%;
    }
    body.whatIsIt .inner_boost{
        width: 100%;
    }
    .boost_icon{
        right: -30px;
    }
    .ar_sec{
        padding: 0 20px;
        box-sizing: border-box;
    }
    .at_risk{
        width: 49%;
    }
    body.syptoms_page .patient_container{
        padding: 0 30px;
        box-sizing: border-box;
    }
    body.syptoms_page .patient_container > h4.main_heading{
        padding: 0;
    }
    .symp_box{
        width: 32%;
        margin-right: 1%;
        box-sizing: border-box;
    }
    body.treatment_page .bg_banner{
        height: auto;
    }
    body.boosting_page .boost_tabs{
        display: none;
    }
    body.boosting_page .res_boost{
        display: block;
        opacity: 1;
        visibility: visible;
    }
    body.boosting_page .boost_box,
    body.boosting_page .boost_box.boostbox_last{
        width: 100%;
        height: auto;
    }
    body.boosting_page .inner_boost{
        float: none;
        margin: 20px auto 0;
        display: block;
    }
    body.boosting_page .main_boost .boost_icon{
        position: inherit;
        left: inherit;
        top: inherit;
        bottom: inherit;
        right: inherit;
        float: none;
        margin: 20px auto 0;
        display: block;
        overflow: hidden;
        width: 40px;
        height: 40px;
        background-size: cover;
    }
    body.boosting_page .inner_boostdet .c_sep{
        display: none;
    }
    body.boosting_page .boost_bullet1{
        width: 100%;
        padding: 0;
    }
    body.res__aboutUs .tabs ul li a{
        width: 185px;
        padding: 0 10px;
    }
    body.res__aboutUs .tabs ul li a span{
        width: 100px;
    }
    .man_figure{
        width: 200px;
        margin: 90px auto 0;
        float: none;
        display: block;
        overflow: visible;
        position: relative;
    }
    .sm_p{
        right: -300px;
        top: 100px;
    }
    .fig_brain{
        left: -249px;
    }
    .fig_resparitry{
        top: -30px;
        right: -366px;
    }
    .fig_circularity{
        top: 170px;
        left: -370px;
    }
    .fig_pancreas{
        right: -363px;
    }
    .fig_muscle{
        left: -280px;
    }
    .fig_bone{
        right: -307px;
    }
    .fig_other{
        left: -50px;
    }
}
@media(max-width:1040px){
    .wi_boxes{
        width: 30%;
        height: 150px;
        box-sizing: border-box;
    }
}
@media(max-width:1000px){
    body.res__aboutUs .tab_row_des{
        width: 60%;
        margin-top: 40px; 
    }
    body.res__aboutUs .tabs-section{
        padding: 0 20px;
        box-sizing: border-box;
    }
}
@media(max-width:970px){
    .tp_cta_sm{
        width:49.3%;
    }
    .causes_det .c_sep{
        display: none;
    }
    img.res_c_img{
        display: block;    
    }
    img.c_img{
        display: none;
    }
    body.res__aboutUs .tabs ul li a{
        width: 185px;
        padding: 0 7px;
        margin-right: 3px;
    }
    body.health_risks.res__health_risks .patient_content.hcp_container{
        width: 100%;
    }
}
@media(max-width:950px){
    .fig_det.fig_vis{
        transform: scale(0.8);
    }
}
@media(max-width:930px){
    .tp_cta_sm{
        width: 49.2%;
    }
    body.res__aboutUs .tabs ul li a{
        width: 170px;
        padding: 0 6px;
        margin-right: 3px;
    }
}
@media(max-width:920px){
    .two_col_tp.fullwidth.fl .tp_cta{
        width:47.3%;
        min-height: 220px;
    }
    .reminder_main,
    .res_faq{
        padding: 0 20px;
        box-sizing: border-box;
    }
}
@media(max-width:890px){
    .outer_container_splash{
        width: 727px;
    }
    .inner_container_splash{
        width: 695px;
    }
    .logo.fl{
        padding: 0 20px;
        width: 400px;
    }
    body.patient_section .logo.fl{
        width: 350px;
    }
    .hcp_container{
        width: 100%;
    }
    .patient_container.hcp_content{
        width: 100%;
    }
    .main_nav  ul > li > a > p{
        padding-right: 0;
    }
    .main_nav  ul > li > a > span.menu_icon{
        margin-top: 2px;
    }
    .boxes_d3 > .inner_d3 > h3{
        right: 10px;
    }
    .splash_inner_content{
        width: 100%;
    }
    .border{
        width: 53px;
    }
    .splash_inner_right .border{
        width: 59px;
    }
    .splash_inner_left .selection_heading{
        margin-left: 30px;
    }
    .splash_inner_right{
        width: 320px;
        margin-right: 40px;
    }
    body.patient_section .navigation,
    body.patient_section .res_nav{
        display: none;
    }
    body.patient_section .mobile_navigation{
        display: block;
    }
    .cause_sec{
        padding: 20px;
        box-sizing: border-box;
    }
}
@media(max-width:840px){
    .boxes_d3{
        width: 32%;
    }
    .boxes_d3 > .inner_d3 > h3{
        width: 56%;
        font-size: 17px;
    }
    .boxes_d3 > .inner_d3 .d3_1{
        width: 60px;
    }
    .boxes_d3 > .inner_d3 .d3_3, 
    .boxes_d3 > .inner_d3 .d3_2{
        width: 50px;
    }
    .weather_cont{
        margin-top: 0;
    }
}
@media(max-width:830px){
    .main_nav  ul > li{
        margin-right: 5px;
    }
    .reminder_row h5{
        width: 100%;
    }
}
@media(max-width:785px){
    body.whatIsIt .patient_content.hcp_container{
        min-height: 1300px;
    }
    .wi_boxes{
        height: 170px;
        width: 32%;
        margin-right: 1%;
    }
    .symp_box{
        width: 100%;
        margin-right: 0;
        box-sizing: border-box;
        padding-bottom: 0;
        background: none;
    }
    .symp_box:first-child{
        background: url(../images/patient/boost_det_bg.png) no-repeat top center;
    }
    .symptoms_bottom{
        background: url(../images/patient/symptoms.png) no-repeat top center;
        background-size: 120% auto;
        height: 150px;
    }
    .symptoms_bottom > p{
        margin: 80px auto 0;
    }
}
@media(max-width:770px){
    body.patient_section .main_slider{
        width: 100%;
        border: 0;
        border-top: 1px solid #00a8ab;
        border-radius: 0;
    }
    .patient_content.hcp_container .tabs_pos{
        padding: 0 20px;
        box-sizing: border-box;
    }
    body.whatIsIt .inner_boost img.h_mid{
        width: 120px;
    }
    body.whatIsIt .inner_boost > div{
        display: none;
    }
    .boost_icon{
        width: 40px;
        height: 40px;
        top: 35px;
        right: -20px;
        background-size: 100% auto;
    }
    .boost_box_res{
        display: block;
    }
    body.whatIsIt .patient_content.hcp_container .bg_banner{
        height: 550px;
    }
    .patient_content.hcp_container .tabs_pos{
        top: 100px;
    }
    .causes_det p {
        margin: 0;
        padding: 10px;
        box-sizing: border-box;
    }

    .man_figure{
        float: left;
        margin: 0;
    }
    .fig_brain{
        left: 88px;
    }
    .fig_animate a.fig_plus{
        float: left;
    }
    .fig_det{
        margin-top: 26px;
        transform-origin: left 30px;
    }
    .fig_det.fig_vis {
        transform: scale(1);
    }
    .fig_circularity{
        left: 90px;
        width: 340px;
    }
    .fig_circularity .fig_det{
        width: auto;
        transform-origin: left 0;
    }
    .fig_pancreas .fig_det {
        transform-origin: left 80px;
        margin-top: 0;
    }
    .fig_muscle {
        left: 50px;
        width: 360px;
        top: 370px;
    }
    .fig_muscle a.fig_plus {
        margin-top: 20px;
    }
    .fig_muscle .fig_det {
        margin-top: 0;
        transform-origin: left 30px;
    }
    .fig_other {
        left: 86px;
    }
    body.health_risks.res__health_risks .patient_content.hcp_container,
    body.health_risks.res__health_risks .patient_content.hcp_container .tabs_pos{
        overflow: hidden !important;
    }
}
@media(max-width:740px){
    .patient_footer{
        margin-top: 15px;
    }
    .one_col_tp{
        width: 100%;
    }
    .patient_footer .inner_pfooter{
        background: none;
    }
    .thik_border,
    .pos_rel.in_foot{
        display: none;
    }
    .in_foot{
        width: 100%;
    }
    .patient_footer .inner_pfooter .patient_container .note_section .notice_area{
        width: 80%;
        margin-left: 15px;
    }
    .patient_footer .inner_pfooter .patient_container .note_section .notice_icon{
        margin-top: 0;
    }
    .mobile_footer{
        display: block;
    }
    .outer_container_splash{
        width: 100%;
    }
    .inner_container_splash{
        width: 95%;
        height: 512px;
    }
    .splash_inner_left{
        width: 300px;
    }
    .splash_inner_left .selection_heading{
        margin-left: 15px;
    }
    .splash_inner_right{
        margin-right: 10px;
    }
    body.patient_section .patient_content{
        margin-top: 0;
    }   
    body.syptoms_page .patient_content.hcp_container .bg_banner{
        height: 100px;
    }
    .res_thick_border{
        height: 1px;
        display: block;
        margin-top: 20px;
    }
}
@media(max-width:720px){
    .navigation,
    .top_search,
    .res_nav{
        display: none;
    }
    .hcp_container{
        padding-top: 50px;
    }
    body.whatIsIt .patient_content.hcp_container .bg_banner{
        margin-top: 0;
    }
    .mobile_navigation{
        display: block;
    }
    body.hcp_section .main_slider{
        border: 0;
        border-top: 1px solid #f28c00;
        margin-bottom: 1px;
        border-radius: 0;
        width: 100%;
    }
    .two_col_tp.fullwidth.fl .tp_cta{
        width: 98%;
        min-height: auto;
        border: 0;
        border-bottom: 1px solid #f28c00;
    }
    .tp_cta h1{
        margin-left: 0;
    }
    .boxes_d3{
        width: 310px;
        margin: 0 auto 6px;
        float: none;
        display: block;
        overflow: hidden;
    }
    .boxes_d3.last_cta{
        margin: 0 auto 0;
    }
    .pa_btm_brdr{
        display: none;
    }
    .boxes_d3 > .inner_d3 .d3_1{
        left: 25px;
    }
    .res_about_us{
        margin-top: 0;
    }
    .dosage_img{
        display: none;
    }
    body.tabs_page .h_mid.res_dosage{
        display: block;
    }
    .tab2_bg,
    .tab2_bg2{
        background: none;
        border-bottom: 1px solid #00a8ab;
    }
    .tab2_bg.tab2_bg_last{
        border-bottom: none;
    }
    .tab2_bg .dwn_icon,
    .tab2_bg2 .dwn_icon{
        bottom: -18px;
    }
}
@media(max-width:670px){
    .splash_inner_content{
        width: 490px;
        margin-top: 130px;
    }
    .splash_inner_left,
    .splash_inner_right{
        width: 200px;
    }
    .splash_inner_left .selection_heading{
        margin-left: 30px;
    }
    .res_faq .thirtywidth,
    .res_faq .sixty7width{
        width: 100%;
        margin-bottom: 20px;
    }
    .res_faq .thirtywidth .causes_head,
    .res_faq .sixty7width .causes_head{
        padding: 7px 0;
    }
    .res_headOnly{
        display: block;
    }
    .res_faq .c_sep{
        display: none;
    }
    .causes_head.ans_head > h4{
        color: #fff;
    }
}
@media(max-width:660px){
    .tp_cta_sm{
        margin-right: 1%;
        width: 49%;
        height: 180px;
    }
    .bottom_border{
        margin: 0 auto;
        display: block;
        float: none;
        width: 98%;
        background-size: 100% 100%;
    }
    .wi_defi{
        width: 100%;
        border: 0;
        margin: 70px 0 50px 0;
        background: none;
        box-sizing: border-box;
    }
    .wi_defi > p{
        margin: 0;
    }
    .top_bg{
        background: none;
        border: 1px solid #00a8ab;
        border-radius: 10px;
    }
    .wi_boxes{
        width: 100%;
        border: 0;
        height: auto;
        padding: 0;
        margin-bottom: 20px;
    }
    .wi_boxes > p{
        margin-top: 5px;
    }
    .top_bg > .c_sep{
        display: none;
    }
    .contact_form{
        width: 80%;
        padding: 50px 70px;
    }
}
@media(max-width:620px){
    .at_risk{
        width: 70%;
        float: none;
        margin: 0 auto 35px;
        display: block;
        overflow: hidden;
    }
    body.treatment_page .patient_container.seventywidth.h_mid.treatment_det.wow.fadeInDown{
        width: 90%;
    }
    .contact_form{
        width: 90%;
    }
    .fig_det.fig_vis{
        transform: scale(0.9);
    }
}
@media(max-width:560px){
    .splash_inner_right{
        margin-right: 20px;
    }
    body.whatIsIt .inner_boost img.h_mid{
        width: 100px;
    }
    .boost_icon{
        width: 30px;
        height: 30px;
        right: -15px;
    }
    .symptoms_bottom > p{
        width: 90%;
    }
    .contact_form{
        padding: 50px;    
    }
    body.tabs_page .tab_row_des{
        margin-top: 0px;
    }
    .fig_det.fig_vis{
        transform: scale(0.8);
    }
    .fig_resparitry .fig_det.fig_vis,
    .fig_pancreas .fig_det.fig_vis{
        transform: scale(0.7);
    }
    .man_figure{
        margin: 90px 0;
    }
    .sm_p{
        right: -101px;
        top: -50px;
    }
}
@media(max-width:530px){
    .splash_inner_right{
        margin-right: 30px;
    }
}
@media(max-width:510px){
    .logo.fl{
        width: 300px;
    }
    .tp_cta_sm h1{
        top: 43%;
    }
    .tp_cta_sm p{
        top: 58%;
    }
    body.patient_section .logo.fl{
        width: 280px;
    }
    body.patient_section .mobile_icon{
        margin-top: 15px;
    }
    .splash_inner_content{
        width: 450px;
    }
    body.whatIsIt .patient_content.hcp_container{
        min-height: 1350px;
        margin-bottom: 30px;
    }
    .wi_defi{
        margin: 50px 0 20px 0;
    }
    .symptoms_bottom > p {
        margin: 55px auto 0;
    }
    img.res_c_img{
        margin-top: 15px;
    }
    .reminder_row select, .reminder_row input{
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px
    }
    .resposnsive_menu ul{
        width: 92%;
    }
    .resposnsive_menu ul li{
        padding: 5px 0 5px 20px;
    }
}
@media(max-width:480px){
    .at_risk{
        width: 100%;
    }
    .splash_content{
        background-size: 75% auto;
    }
    .splash_inner_content{
        width: 100%;
    }
    .splash_inner_left{
        width: 150px;
    } 
    .splash_inner_right{
        width: 180px;    
        margin-right: 20px;
    }
    .splash_inner_left.fl{
        margin-left: 25px;
    }
    .fr.resp_switch{
        float: left;
    }
    .splash_inner_left .selection_heading{
        margin-left: -10px;
    }
    .border,
    .splash_inner_right .border{
        width: 43px;
    }
    .splash_inner_right .selection_heading{
        width: 150px;
        margin-top: 8px;
        font-size: 16px;
    }
    .splash_inner_left .selection_heading{
        margin-left: -24px;
        font-size: 17px;
    }
    .splash_header > a > img{
        max-width: 80%;
    }
    .contact_form {
        width: 95%;
        padding: 40px;
    }
    .desHe{
        font-size: 20px;
    }
    .fig_det.fig_vis{
        transform: scale(0.6);
    }
    .fig_resparitry .fig_det.fig_vis, 
    .fig_pancreas .fig_det.fig_vis{
        transform: scale(0.5);
    }
}
@media(max-width:450px){
    .tp_cta_sm{
        height: 190px;
    }
    .tp_cta_sm p {
        top: 61%;
    }
    .splash_footer{
        width: 100%;
    }
    .mobile_footer{
        width: 100%;
    }
    .patient_footer .inner_pfooter .patient_container .note_section .notice_area{
        width: 70%;
    }
    .splash_content{
        background-size: 65% auto;
    }
    .splash_inner_content{
        margin-top: 100px;
    }
    .splash_inner_right .selection_link,
    .splash_inner_left .selection_link{
        width: 84px;
        height: 86px; 
        background-size: cover;
    }
    .splash_inner_right .selection_link:hover, .splash_inner_right .selection_link:active, .splash_inner_right .selection_link:focus{
        background-size: cover;
    }
    .splash_inner_left .selection_link:hover, .splash_inner_left .selection_link:active, .splash_inner_left .selection_link:focus{
        background-size: cover;
    }
    .border{
        margin-top: 44px;
    }
    .splash_inner_right .selection_heading{
        width: 140px;
        font-size: 15px;
    }
    .splash_inner_left .selection_heading{
        font-size: 16px;
    }
    .fr.resp_switch {
        float: right;
    }
    .splash_inner_left .selection_heading{
        margin-left: -22px;
    }
    body.whatIsIt .inner_boost img.h_mid{
        width: 80px;
    }
    .boost_icon{
        width: 25px;
        height: 25px;
        right: -13px;
        top: 30px;
    }
    .fig_det.fig_vis{
        transform: scale(0.6);
    }
    .fig_resparitry .fig_det.fig_vis, 
    .fig_pancreas .fig_det.fig_vis{
        transform: scale(0.5);
    }
}
@media(max-width:440px){
    .splash_inner_left{
        width: 140px;
    }
    .splash_inner_right {
        width: 160px;
    }
    .splash_inner_left .selection_heading{}
}
@media(max-width:430px){    
    .tp_cta_sm{
        width: 48.5%;
        margin-right: 1.5%;
    }
    .tp_cta_sm.tp_sm1 img{
        top: -18px;
    }
    .tp_cta_sm.tp_sm2 img{
        top: -22px;
    }
    .tp_cta_sm.tp_sm3 img{
        top: -26px;
    }
    .tp_cta_sm.tp_sm4 img{
        top: -21px;
    }
    .logo.fl{
        width: 280px;
    }
    .mobile_icon{
        margin-top: 35px;
    }
    .inner_pfooter .patient_container .mobile_footer > ul > li{
        margin-right: 10px;
    }
    .patient_footer .inner_pfooter .patient_container .note_section .notice_icon{
        width: 56px;
        margin: 0 auto;
        float: none;
        display: block;
        overflow: hidden;
    }
    .patient_footer .inner_pfooter .patient_container .note_section .notice_area{
        margin: 0;
        width: 100%;
    }
    .patient_footer .inner_pfooter .patient_container .note_section .notice_area *{
        text-align: center;
    }
    .inner_pfooter .patient_container .mobile_footer > ul > li{
        width: 100%;
    }
    .inner_pfooter .patient_container .mobile_footer > ul > li *{
        text-align: center;
    }
    .wi_defi{
        margin: 20px 0;
    }
    body.patient_section .logo.fl{
        width: 100%;
        margin-top: 10px;
        box-sizing: border-box;
    }
}
@media(max-width:400px){
    .splash_inner_content {
        margin-top: 80px;
    }
    .border, .splash_inner_right .border{
        width: 30px;
    }
    .splash_inner_left {
        width: 122px;
    }
    .splash_inner_right {
        width: 134px;
    }
    .splash_inner_right .selection_heading{
        width: 120px;
        font-size: 13px;
    }
    .splash_inner_left .selection_heading{
        font-size: 13px;
    }
    body.whatIsIt .patient_content.hcp_container{
        min-height: 1400px;
    }
    .fig_det.fig_vis{
        transform: scale(0.5);
    }
    .fig_resparitry .fig_det.fig_vis, 
    .fig_pancreas .fig_det.fig_vis{
        transform: scale(0.4);
    }
    @media(max-width:380px){
        .logo.fl{
            width: 250px;
        }
        .inner_one_col{
            width: 250px;
        }
        .boxes_d3{
            width: 100%;
        }
    }
    @media(max-width:360px){
        body.patient_section .mobile_icon{
            margin-top: 8px;
        }
        body.whatIsIt .patient_content.hcp_container{
            min-height: 1470px;
        }
        .resposnsive_menu ul li{
            box-sizing: border-box;
        }
    }
    @media(max-width:350px){
        .splash_inner_left.fl {
            margin-left: 10px;
        }
        .splash_inner_right {
            margin-right: 10px;
        }
    }