/* 
	Table of Contents

	I.   Generic --------------------------------------
	     01. Reset ------------------------------------
	     02. Animations -------------------------------
	     03. Base -------------------------------------
	     04. Fonts ------------------------------------
	     05. Helpers ----------------------------------
	         Clear ------------------------------------
	         Notext -----------------------------------
	         Hidden -----------------------------------
	         Alignleft --------------------------------
	         Alignright -------------------------------
	         Disabled ---------------------------------
	         Grid -------------------------------------
	         Responsive Helpers -----------------------
	     06. Slider -----------------------------------
	     07. Slider Owl Nav ---------------------------
	     08. Slider Primary ---------------------------
	II.  Regions --------------------------------------
	     01. Container --------------------------------
	     02. Content ----------------------------------
	     03. Footer -----------------------------------
	     04. Header -----------------------------------
	     05. Main -------------------------------------
	     06. Dosing and Frequency ---------------------
	     07. Shell ------------------------------------
	     08. Sidebar ----------------------------------
	     09. Wrapper ----------------------------------
	III. Modules --------------------------------------
	     01. Accordions -------------------------------
	     02. Articles ---------------------------------
	     03. Button -----------------------------------
	         Button Block -----------------------------
	     04. Burger Button ----------------------------
	     05. Categories -------------------------------
	     06. Compare ----------------------------------
	     07. Copyright --------------------------------
	     08. CTA --------------------------------------
	     09. Demo -------------------------------------
	     10. Form Elements ----------------------------
	     11. Form Subscribe ---------------------------
	     12. Form Secondary ---------------------------
	     13. Gadgets ----------------------------------
	     14. Info Boxes -------------------------------
	     15. Intro ------------------------------------
	     16. Intro Primary ----------------------------
	     17. Link -------------------------------------
	     18. List -------------------------------------
	     19. List Primary -----------------------------
	     20. List Secondary ---------------------------
	     21. List Tertiary ----------------------------
	     22. List References --------------------------
	     23. List Bullets -----------------------------
	     24. List Info --------------------------------
	     25. Logo -------------------------------------
	     26. Nav --------------------------------------
	     27. Nav Primary ------------------------------
	     28. Nav Secondary ----------------------------
	     29. Nav Tertiary -----------------------------
	     30. Product ----------------------------------
	     31. Product Primary --------------------------
	     32. Product Info -----------------------------
	     33. References -------------------------------
	     34. Section ----------------------------------
	     35. Table ------------------------------------
	     36. Text -------------------------------------
	     37. Widget -----------------------------------
	     38. Widget Primary ---------------------------
	     39. Widget Weather ---------------------------
 */

.ico-arrow-blue { background-image: url(images/sprite.png); background-position: 59.87261146496815% 83.92857142857143%; background-size: 561.7647058823529% 264.70588235294116%; width: 34px; height: 34px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-arrow-orange { background-image: url(images/sprite.png); background-position: 84.07643312101911% 83.92857142857143%; background-size: 561.7647058823529% 264.70588235294116%; width: 34px; height: 34px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-sunny { background-image: url(images/sprite.png); background-position: 0% 0%; background-size: 212.22222222222223% 100%; width: 90px; height: 90px; display: inline-block; vertical-align: middle; font-size: 0; }
.logo-consilient-health { background-image: url(images/sprite.png); background-position: 100% 0%; background-size: 196.9072164948454% 209.30232558139537%; width: 97px; height: 43px; display: inline-block; vertical-align: middle; font-size: 0; }
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.ico-arrow-blue { background-image: url(images/sprite.@2x.png); background-position: 59.87261146496815% 83.92857142857143%; background-size: 561.7647058823529% 264.70588235294116%; width: 34px; height: 34px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-arrow-orange { background-image: url(images/sprite.@2x.png); background-position: 84.07643312101911% 83.92857142857143%; background-size: 561.7647058823529% 264.70588235294116%; width: 34px; height: 34px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-sunny { background-image: url(images/sprite.@2x.png); background-position: 0% 0%; background-size: 212.22222222222223% 100%; width: 90px; height: 90px; display: inline-block; vertical-align: middle; font-size: 0; }
	.logo-consilient-health { background-image: url(images/sprite.@2x.png); background-position: 100% 0%; background-size: 196.9072164948454% 209.30232558139537%; width: 97px; height: 43px; display: inline-block; vertical-align: middle; font-size: 0; }}
.cols:after,
.slider-primary .slide:after,
.footer .footer__content:after,
.header:after,
.main .shell:after,
.gadgets--row:after { content: ''; line-height: 0; display: table; clear: both; }
/* ------------------------------------------------------------ *\
	I.   Generic
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *\
	Reset
\* ------------------------------------------------------------ */
*,
*:before,
*:after { padding: 0; margin: 0; outline: 0; box-sizing: border-box; }
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main { display: block; }
html { tap-highlight-color: rgba(0,0,0,0); }
body { -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; text-size-adjust: none; }
img,
iframe,
video,
audio,
object { max-width: 100%; }
img,
iframe { border: 0 none; }
img { height: auto; display: inline-block; vertical-align: middle; }
b,
strong { font-weight: bold; }
address { font-style: normal; }
svg:not(:root) { overflow: hidden; }
a,
button,
input[type="submit"],
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="image"],
label[for] { cursor: pointer; }
a[href^="tel"],
button[disabled],
input[disabled],
textarea[disabled],
select[disabled] { cursor: default; }
button::-moz-focus-inner,
input::-moz-focus-inner { padding: 0; border: 0; }
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea,
a[href^="tel"] { -webkit-appearance: none; -moz-appearance: none; appearance: none; }
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
textarea { overflow: auto; -webkit-overflow-scrolling: touch; overflow-scrolling: touch; }
button,
input,
optgroup,
select,
textarea { font-family: inherit; font-size: inherit; color: inherit; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; }
button,
select { text-transform: none; }
table { width: 100%; border-collapse: collapse; border-spacing: 0; }
nav ul,
nav ol { list-style: none outside none; }
/* ------------------------------------------------------------ *\
	Animations
\* ------------------------------------------------------------ */
.animated { opacity: 0; visibility: hidden; transition: opacity .5s, visibility .5s; }
.animated-in { opacity: 1; visibility: visible; }
/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */
body { min-width: 320px; background: #fff; font-family: 'Arial', 'Helvetica', sans-serif; font-size: 13px; line-height: 1.55; color: #706f6f; }
a { color: #f28c00; text-decoration: none; transition: color .3s; }
a:hover { text-decoration: none; color: #005680; }
a[href^="tel"] { text-decoration: none; }
h1,
h2,
h3,
h4,
h5,
h6 { margin-bottom: 0.575em; }
h1 { font-size: 31px; font-weight: 500; letter-spacing: -0.021em; color: #000; }
h2 { font-size: 24px; letter-spacing: 0.02em; }
h2 sup { font-size: 14px; }
h3 { font-size: 20px; }
h4 { font-size: 14px; }
h5 { font-size: ; }
h6 { font-size: 11px; margin-bottom: 4px; }
p,
ul,
ol,
dl,
table,
blockquote { margin-bottom: 1.15em; }
h1[class],
h2[class],
h3[class],
h4[class],
h5[class],
h6[class],
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
table:last-child,
blockquote:last-child { margin-bottom: 0; }
@media (max-width: 479px) {
	h1 { font-size: 21px; }
	h2 { font-size: 20px; }
}
section ul li {
	margin-left: 18px;
}
/* ------------------------------------------------------------ *\
	Fonts
\* ------------------------------------------------------------ */
@font-face {
	font-family: 'Globale';
	src: url('fonts/LetrasetGlobaleTT.eot');
	src: url('fonts/LetrasetGlobaleTT.eot') format('embedded-opentype'),
		url('fonts/LetrasetGlobaleTT.woff2') format('woff2'),
		url('fonts/LetrasetGlobaleTT.woff') format('woff'),
		url('fonts/LetrasetGlobaleTT.ttf') format('truetype'),
		url('fonts/LetrasetGlobaleTT.svg#LetrasetGlobaleTT') format('svg');
	font-weight: 400;
}
@font-face {
	font-family: 'Globale';
	src: url('fonts/LetrasetGlobaleBoldTT.eot');
	src: url('fonts/LetrasetGlobaleBoldTT.eot') format('embedded-opentype'),
		url('fonts/LetrasetGlobaleBoldTT.woff2') format('woff2'),
		url('fonts/LetrasetGlobaleBoldTT.woff') format('woff'),
		url('fonts/LetrasetGlobaleBoldTT.ttf') format('truetype'),
		url('fonts/LetrasetGlobaleBoldTT.svg#LetrasetGlobaleBoldTT') format('svg');
	font-weight: 700;
}
/* ------------------------------------------------------------ *\
	Helpers
\* ------------------------------------------------------------ */
/*  Clear  */
.clear:after { content: ''; line-height: 0; display: table; clear: both; }
/*  Notext  */
.notext { white-space: nowrap; text-indent: 100%; text-shadow: none; overflow: hidden; }
.notext-old { font-size: 0; line-height: 0; text-indent: -4000px; }
/*  Hidden  */
[hidden],
.hidden { display: none; }
/*  Alignleft  */
.alignleft { float: left; }
/*  Alignright  */
.alignright { float: right; }
/*  Disabled  */
[disabled],
.disabled { cursor: default; }
/*  Grid  */
.cols { margin: 0 -15px; }
.cols:after { }
.col { float: left; width: 100%; padding: 0 15px; }
.col-1of2 { width: 50%; }
/*  Responsive Helpers  */
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block { display: none !important; }
@media (max-width: 767px) {
	.hidden-xs { display: none !important; }
	.visible-xs-block { display: block !important; }
	.visible-xs-inline { display: inline !important; }
	.visible-xs-inline-block { display: inline-block !important; }
}
@media (min-width: 768px) and (max-width: 1023px) {
	.hidden-sm { display: none !important; }
	.visible-sm-block { display: block !important; }
	.visible-sm-inline { display: inline !important; }
	.visible-sm-inline-block { display: inline-block !important; }
}
@media (min-width: 1024px) and (max-width: 1200px) {
	.hidden-md { display: none !important; }
	.visible-md-block { display: block !important; }
	.visible-md-inline { display: inline !important; }
	.visible-md-inline-block { display: inline-block !important; }
}
@media (min-width: 1201px) {
	.hidden-lg { display: none !important; }
	.visible-lg-block { display: block !important; }
	.visible-lg-inline { display: inline !important; }
	.visible-lg-inline-block { display: inline-block !important; }
}
/* ------------------------------------------------------------ *\
	Slider
\* ------------------------------------------------------------ */
.slider { border: 1px solid #f28c01; border-bottom: 0; position: relative; overflow: hidden; }
.slider img { width: 100%; height: auto; }
.slider,
.slider img { border-top-left-radius: 12px; border-top-right-radius: 12px; }
@media (max-width: 767px) {
	.slider { border-left: 0; border-right: 0; border-radius: 0; margin-left: -10px; margin-right: -10px; }
	.slider img { border-radius: 0; }
}
/* ------------------------------------------------------------ *\
	Slider Owl Nav
\* ------------------------------------------------------------ */
.owl-nav { position: absolute; top: 50%; left: 31px; right: 31px; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
.owl-nav div { background-image: url(../css/images/nav-arrow.png); width: 41px; height: 41px; background-size: 100% 100%; font-size: 0; line-height: 0; position: relative; opacity: 1; transition: opacity .3s; }
.owl-nav div:hover { opacity: .8; }
.owl-prev { -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); float: left; }
.owl-next { float: right; }
@media (max-width: 767px) {
	.owl-nav { left: 12px; right: 12px; }
	.owl-nav div { width: 21px; height: 21px; }
}
/* ------------------------------------------------------------ *\
	Slider Primary
\* ------------------------------------------------------------ */
.slider-primary { float: left; border-left: 1px solid #f28c00; border-right: 1px solid #f28c00; max-width: 79.4%; margin-top: 30px; padding-bottom: 20px; margin-bottom: 80px; }
.slider-primary .owl-nav { left: 23px; right: 23px; }
.slider-primary h2 { font-weight: 400; line-height: 1.25; margin-bottom: 20px; }
.slider-primary .slide {  padding-left: 12.4%; }
.slider-primary .slide__inner { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-direction: row-reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
.slider-primary .slide__image { -webkit-flex: 0 0 60.7%; -ms-flex: 0 0 60.7%; flex: 0 0 60.7%; max-width: 60.7%; padding-top: 26px; padding-left: 12px; }
.slider-primary .slide__image img { width: auto; }
.slider-primary .slide__content { -webkit-flex: 0 1 100%; -ms-flex: 0 1 100%; flex: 0 1 100%; max-width: 100%; line-height: 1.4; }
.slider-primary .slide__content sup { font-size: 8px; }
.slider-primary .slide__content p { margin-bottom: 10px; }
.slider-primary .slide:after { }
.slider-primary .slide--pink h2 { color: #ea66a2; }
.slider-primary .slide--green h2 { color: #81bb26; }
.slider-primary .slide--blue h2 { color: #004e70; }
.slider-primary .slide--darkpink h2 { color: #af0f64; }
@media (max-width: 1023px) {
	.slider-primary { width: 75%; }
	.slider-primary .slide {  padding-left: 3%; }
	.slider-primary .owl-nav { left: 8px; right: 8px; }
}
@media (max-width: 767px) {
	.slider-primary { float: none; width: 100%; max-width: none; border: 0; margin-bottom: 0; }
	.slider-primary .owl-nav { left: -7px; right: -7px; }
	/* .slider-primary .slide__inner { align-items: flex-start; } */
	.slider-primary .slide__image { -webkit-flex: 0 0 45%; -ms-flex: 0 0 45%; flex: 0 0 45%; max-width: 45%; padding-top: 0; }
}
@media (max-width: 479px) {
	.slider-primary img { width: 100%; height: auto; margin: 0 auto; }
	.slider-primary .slide { padding-left: 0; }
	.slider-primary h2 { margin-bottom: 6px; }
	.slider-primary .slide__image { max-width: 100%; padding: 0 0 16px; text-align: center; }
	.slider-primary .slide__inner { display: block; }
	.slider-primary .owl-nav { left: 0; right: 0; }
}
/* ------------------------------------------------------------ *\
	II.  Regions
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *\
	Container
\* ------------------------------------------------------------ */
.container {}
/* ------------------------------------------------------------ *\
	Content
\* ------------------------------------------------------------ */
.content {}
/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */
.footer .shell { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-direction: row-reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse; }
.footer .footer__aside,
.footer .footer__content { -webkit-flex: 0 0 50%; -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50% }
.footer .footer__content:after { }
.footer .footer__inner { position: relative; background: #f8f8f8; max-width: 1505px; margin: 0 auto; padding: 33px 0 29px; }
.footer .footer__inner:after { content: ''; position: absolute; width: 2px; height: 100%; position: absolute; left: 50%; top: 0; bottom: 0; background: #f28c00; }
.footer .footer__bar { background: #f28c00; height: 19px; position: absolute; left: 7px; right: 7px; box-shadow: 0 2px 7px rgba(0,0,0,.7); }
.footer .footer__bar:first-child { top: -10px; }
.footer .footer__bar:nth-child(2) { bottom: -10px; }
.footer .footer__nav { float: left; padding-left: 15px; }
.footer .footer__nav + .footer__nav { margin-left: 26.5%; }
.footer .footer__aside { padding-left: 33px; padding-top: 3px; }
@media (max-width: 1023px) {
	.footer .footer__aside { padding-left: 18px; }
}
@media (max-width: 767px) {
	.footer .footer__nav:first-child { display: none; }
	.footer .shell { display: block; }
	.footer .footer__aside,
	.footer .footer__content { max-width: 100%; }
	.footer .footer__inner:after { display: none; }
	.footer .footer__aside { padding-left: 10px; }
	.footer .footer__bar { display: none; }
	.footer .footer__nav { float: none; padding: 0; }
	.footer .footer__nav + .footer__nav { margin-left: 0; }
	.footer .footer__inner { background: #fff; padding-bottom: 0; }

	.footer .footer__content { padding-top: 27px; }
}
@media (max-width: 479px) {
	.footer .footer__aside { padding-left: 0; }
	.footer .footer__content { padding-top: 10px; }
	.footer .footer__inner { padding-top: 20px; }
}
/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */
.header { padding-bottom: 21px; }
.header .shell { position: relative; padding-top: 37px; }
.header:after { }
.header .header__aside { float: right; padding-top: 32px; margin-right: 5px; }
.header .header__form { position: absolute; top: 0; right: -24px; }
@media (max-width: 1023px) {
	.header .header__form { right: 10px; }
}
@media (max-width: 767px) {
	.header { padding-top: 11px; padding-bottom: 28px; }
	.header .shell { padding-top: 12px; padding-left: 20px; }
}
@media (max-width: 479px) {
	.header { padding-bottom: 16px; }
	.header .shell { padding-top: 15px; }
}
/* ------------------------------------------------------------ *\
	Main
\* ------------------------------------------------------------ */
.main .shell:after { }
.main .main__intro { background: #f8f8f8; }
.main .main__intro h1 { font-family: 'Globale', Arial, sans-serif; font-size: 36px; letter-spacing: -0.042em; }
.main .main__intro > .shell { position: relative; }
.main .main__intro > .shell:before,
.main .main__intro > .shell:after { content: ''; height: 1px; position: absolute;
background: linear-gradient(to right,  rgba(217,216,216,0) 0%,rgba(217,216,216,0.8) 32%,rgba(217,216,216,0.8) 50%,rgba(217,216,216,0.8) 68%,rgba(217,216,216,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d9d8d8', endColorstr='#00d9d8d8',GradientType=1 );
 }
.main .main__intro > .shell:before { top: 0; left: 0; right: 0; }
.main .main__intro > .shell:after { bottom: 0px; left: 0; right: 0; }
.main .main__content { padding-top: 20px; }
.main .main__heading { padding-bottom: 116px; }
.main .main__content--primary { padding-top: 31px; }
.main .main__content--secondary { padding-top: 0; }
.main .main__content--secondary .main__section { padding-left: 10.2%; }
@media (max-width: 1023px) {
	.main .main__content--secondary .main__section { padding: 30px 0 0; }
}
@media (max-width: 767px) {
	.main .main__content { padding-top: 0; }
	.main .main__intro h1 { padding-top: 13px; padding-bottom: 11px; }
	.main .main__content--secondary .main__section { padding-top: 25px; }
	.main .main__heading { padding-bottom: 20px; }
}
@media (max-width: 479px) {
	.main .main__content--secondary .main__section { padding-top: 15px; }
}
/* ------------------------------------------------------------ *\
	Dosing and Frequency
\* ------------------------------------------------------------ */
.main .main__intro img.dosing-and-frequency { float: right; margin-top: -31px; margin-right: 7%; }
.main .main__intro img.products-intro { width: 800px; height: auto; display: block; margin: 0 auto; }
@media (max-width: 767px) {
	.main .main__intro img.dosing-and-frequency { margin-right: 15px; margin-top: -12px; }
}
/* ------------------------------------------------------------ *\
	Shell
\* ------------------------------------------------------------ */
.shell { max-width: 960px; padding-left: 10px; padding-right: 10px; margin: auto; }
.shell-fluid { max-width: none; }
/* ------------------------------------------------------------ *\
	Sidebar
\* ------------------------------------------------------------ */
.sidebar {}
/* ------------------------------------------------------------ *\
	Wrapper
\* ------------------------------------------------------------ */
.wrapper { min-height: 100vh; position: relative; overflow: hidden; }
/* ------------------------------------------------------------ *\
	III. Modules
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *\
	Accordions
\* ------------------------------------------------------------ */
.accordions { padding-top: 20px; }
.accordion { position: relative; }
.accordion.active .accordion__head:before { background-image: url(../css/images/ico-minus.png); }
.accordion .accordion__head { cursor: pointer; color: #f18b00; font-size: 20px; padding-top: 10px; padding-bottom: 10px; margin-bottom: 10px; position: relative; }
.accordion .accordion__head:before { content: ''; background-image: url(../css/images/ico-plus.png); width: 26px; height: 26px; background-size: 100% 100%; background-position: center center; background-repeat: no-repeat; position: absolute; right: 15px; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
.accordion .accordion__head h3 { font-weight: 400; font-size: 20px; }
.accordion .accordion__body { display: none; line-height: 1.4; padding-right: 12%; padding-bottom: 20px; }
.accordion:first-child .accordion__body { display: block; }
.accordion p + p { margin-top: 20px; }
.accordion + .accordion { padding-top: 13px; }
.accordion + .accordion:before { content: ''; position: absolute; top: 0; left: -120px; right: 0; height: 1px;
background: linear-gradient(to right,  rgba(173,173,173,0) 0%,rgba(173,173,173,0.65) 51%,rgba(0,0,0,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00adadad', endColorstr='#00000000',GradientType=1 );
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.accordion .accordion__head:before { background-image: url(../css/images/ico-plus@2x.png); width: 26px; height: 26px; background-size: 100%; }
	.accordion.active .accordion__head:before { background-image: url(../css/images/ico-minus@2x.png); width: 26px; height: 26px; background-size: 100%; }
}
@media (max-width: 1023px) {
	.accordion + .accordion:before { left: -29px; }
}
@media (max-width: 767px) {
	.accordions { padding-top: 2px; }
	.accordion .accordion__head { padding-top: 0; padding-bottom: 0; }
	.accordion .accordion__head:before { right: 0; }
	.accordion .accordion__body { padding-bottom: 10px; padding-right: 30px; }
	.accordion p + p { margin-top: 0; }
}
/* ------------------------------------------------------------ *\
	Articles
\* ------------------------------------------------------------ */
.articles-placeholder { height: 288px; }
.articles { margin-bottom: 130px; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; margin-left: -11px; margin-right: -11px; margin-top: -308px; }
.article { -webkit-flex: 0 0 32.1%; -ms-flex: 0 0 32.1%; flex: 0 0 32.1%; max-width: 32.1%; font-size: 14px; }
.article h4 { margin-bottom: 12px; }
.article h3 { font-family: 'Globale', Arial, sans-serif; letter-spacing: -0.032em; }
.article sup { font-size: 8px; }
.article small { font-size: 10px; line-height: 1.2; }
.article small a { display: block; padding-top: 10px; color: inherit; }
.article small a:hover { color: #f28c00; }
.article p { line-height: 1.25; }
.article p + h4 { margin-top: 23px; }
.article .article__image { min-height: 288px; background-position: center bottom; background-size: 100%; background-repeat: no-repeat; position: relative; }
.article .article__head { position: absolute; bottom: 0; left: 14px; right: 14px; background: rgba(255,255,255,.7); padding-top: 13px; padding-bottom: 9px; text-align: center; }
.article .article__content { padding: 45px 11% 0 7%; }
.article .article__list { margin-top: -8px; margin-bottom: 30px; line-height: 1.2; font-size: 14px; }
.article .article__list li { padding-left: 12px; }
.article .article__list li + li { margin-top: 10px; }
@media (max-width: 1023px) {
	.articles-placeholder { height: 250px; }
	.articles .article__content { padding-top: 24px; }
}
@media (max-width: 767px) {
	.articles { display: block; margin-top: 0; margin-bottom: 10px; }
	.articles-placeholder { height: 0; }
	.article { max-width: none; margin-left: -10px; margin-right: -10px; margin-bottom: 30px; }
	.article:last-child { margin-bottom: 0; }

	.article p + h4 { margin-top: 0; }
	.article + .article { margin-top: 70px; }
	.article p { margin-bottom: 10px; }

	.article .article__head { margin-left: -10px; margin-right: -10px; }
	.article .article__content { padding: 15px 20px 0; }
	.article .article__image { background-position: center top; }
	.article .article__list { margin-bottom: 10px; margin-top: 10px; }
}
@media (max-width: 479px) {
	.article .article__image { background-position: center bottom; background-size: cover; }
}
/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */
.btn { display: inline-block; vertical-align: middle; text-align: center; cursor: pointer;
	-webkit-appearance: none;
	   -moz-appearance: none;
	 		appearance: none;
}
/*  Button Block  */
.btn-block { display: block; padding-left: 0; padding-right: 0; }
/* ------------------------------------------------------------ *\
	Burger Button
\* ------------------------------------------------------------ */
.burger-btn { display: none; float: right; width: 27px; }
.burger-btn.active span:nth-child(1) { top: 7px; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); transition: top .3s, -webkit-transform .3s .3s; transition: top .3s, transform .3s .3s; transition: top .3s, transform .3s .3s, -webkit-transform .3s .3s; }
.burger-btn.active span:nth-child(2) { opacity: 0; }
.burger-btn.active span:nth-child(3) { top: -9px; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); transition: top .3s, -webkit-transform .3s .3s; transition: top .3s, transform .3s .3s; transition: top .3s, transform .3s .3s, -webkit-transform .3s .3s; }
.burger-btn span { position: relative; display: block; height: 4px; top: 0; background: #f28c00; transition: .3s; }
.burger-btn span + span { margin-top: 4px; }
@media (max-width: 767px) {
	.burger-btn { display: block; position: absolute; right: 30px; top: 47px; }
}
@media (max-width: 479px) {
	.burger-btn { top: 30px; right: 10px; }
}
/* ------------------------------------------------------------ *\
	Categories
\* ------------------------------------------------------------ */
.categories { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; padding-top: 17px; margin-right: -9px; }
.category { -webkit-flex: 0 0 24%; -ms-flex: 0 0 24%; flex: 0 0 24%; max-width: 24%; }
.category h2 { text-align: center; font-weight: 500; }
.category:first-child { -webkit-flex: 0 0 49.5%; -ms-flex: 0 0 49.5%; flex: 0 0 49.5%; max-width: 49.5%; }
@media (max-width: 1200px) {
	.categories { margin-right: 0; }
	.category h2 { letter-spacing: -0.02em; }
}
@media (max-width: 767px) {
	.categories { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
	.category { -webkit-flex: 0 0 48.6%; -ms-flex: 0 0 48.6%; flex: 0 0 48.6%; max-width: 48.6%; }
	.category:first-child { -webkit-flex: 0 0 100%; -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; margin-bottom: 30px; }
}
@media (max-width: 479px) {
	.categories { display: block; }
	.category { max-width: 100%; }
}
/* ------------------------------------------------------------ *\
	Compare
\* ------------------------------------------------------------ */
.compare { padding-top: 5px; padding-bottom: 55px; }
.compare img { margin-left: 19.5%; }
.compare h2 { font-weight: 400; margin-bottom: 7px; }
.compare .compare__inner { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; position: relative; }
.compare .compare__inner:before { content: ''; background-image: url(../css/images/ico-v.png); background-size: 100% 100%; background-repeat: no-repeat; width: 64px; height: 64px; position: absolute; top: -41px; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }
.compare .compare__content { -webkit-flex: 0 0 49.6%; -ms-flex: 0 0 49.6%; flex: 0 0 49.6%; max-width: 49.6%; line-height: 1.5; padding-bottom: 15px; }
.compare .compare__content:nth-child(odd) { border-right: 1px solid #f28c00; padding-right: 6%; }
.compare .compare__content:nth-child(even) { border-left: 1px solid #f28c00; padding-left: 8.5%; }
.compare .compare__list { padding-left: 4.2%; padding-top: 5px; }
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
	.compare .compare__inner:before { background-image: url(../css/images/ico-v@2x.png); background-size: 100% 100%; background-repeat: no-repeat; width: 64px; height: 64px; }
}
@media (max-width: 1023px) {
	.compare .compare__content:nth-child(odd) { padding-right: 4%; }
	.compare .compare__content:nth-child(even) { padding-left: 4.5%; }
}
@media (max-width: 767px) {
	.compare { padding-bottom: 20px; }
	.compare img { margin: 15px auto 0; display: block; }
	.compare h2 { margin-bottom: 2px; }
	.compare .compare__inner:before { display: none; }
	.compare .compare__inner { display: block; }
	.compare .compare__content { max-width: none; }
	.compare .compare__content:nth-child(odd),
	.compare .compare__content:nth-child(even) { border: 0; padding: 0; }
	.compare .compare__content + .compare__content { margin-top: 15px; }
}
/* ------------------------------------------------------------ *\
	Copyright
\* ------------------------------------------------------------ */
.copyright { padding-top: 30px; padding-bottom: 16px; text-align: center; font-size: 10px; }
.copyright .shell { display: block; }
.copyright strong { color: #010000; display: inline-block; margin-bottom: 4px; }
.copyright p { color: #4e4e4e; line-height: 1.35; }
.copyright a[class^="logo-"] { margin-bottom: 3px; }
@media (max-width: 767px) {
	.copyright { padding-top: 21px; padding-bottom: 0; }
	.copyright p { margin-bottom: 13px; }
}
/* ------------------------------------------------------------ *\
	CTA
\* ------------------------------------------------------------ */
.cta { float: right; width: 21.97%; margin-right: -13px; padding-top: 7px; }
.cta .cta__head { font-size: 14px; font-weight: 700; padding-left: 5px; color: #f28c00; margin-bottom: 16px; }
.cta .cta__body { border-right: 1px solid #f28c00; text-align: center; }
.cta .cta__body a { color: #000; }
.cta .cta__body a:hover { color: #f28c00; }
.cta ul { list-style: none; font-weight: 700; font-size: 14px; margin-top: -10px; padding-left: 6px; padding-right: 6px; }
.cta li { padding: 24px 5px 21px; border-bottom: 1px solid #f6f6f6; }
.cta--primary { width: 100%; float: none; max-width: 351px; margin: 0 0 0 auto; padding-top: 80px; margin: 0 auto; }
.cta--primary li { margin-left: 22px; margin-right: 22px; }
.cta--primary .cta__body { text-align: left; border-left: 1px solid #f28c00; }
@media (max-width: 1023px) {
	.cta { width: 26%; }

	.cta--primary { width: 100%; }
}
@media (max-width: 767px) {
	.cta { width: auto; float: none; margin-right: 0; border-top: 1px solid #f28c00; border-bottom: 1px solid #f28c00; margin-left: -10px; margin-right: -10px; }
	.cta .cta__head,
	.cta .cta__body { padding-left: 10px; padding-right: 10px; margin-left: 0; border: 0; }
	.cta li { padding: 18px 5px; }

	.cta--primary { padding-top: 10px; max-width: none; }
	.cta--primary ul { padding: 0; }
	.cta--primary li { padding: 8px 0; margin: 0; }
}
@media (max-width: 479px) {
	.cta li { padding: 12px 5px; }
}
/* ------------------------------------------------------------ *\
	Demo
\* ------------------------------------------------------------ */
.demo-outer { border: 1px solid #f68e22; border-top-right-radius: 9px; border-top-left-radius: 9px; margin-top: 46px; padding-top: 23px; padding-bottom: 31px;}
.demo { width: 478px; margin: 0 auto; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; overflow: hidden; }
.demo img { display: block; width: 100%; height: auto; border-radius: 10px; }
.demo .demo__image,
.demo .demo__content { border: 5px solid #f28c00; border-radius: 16px; -webkit-flex: 0 0 48%; -ms-flex: 0 0 48%; flex: 0 0 48%; }
.demo .demo__content { background: #fee3c9; color: #f68e22; font-size: 10px; padding: 23px; line-height: 1.3; }
.demo .demo__content p { margin-bottom: 9px; }
.demo .demo__btn { background: #f68e22; color: #fff; display: block; border-radius: 6px; margin-top: 11px; text-align: center; padding: 7px 5px; text-decoration: underline; }
.demo .demo__btn:hover { text-decoration: none; }
@media (max-width: 767px) {
	.demo-outer { border: 0; padding: 20px 0 0; margin: 0; }

	.demo { width: 450px; }
}
@media (max-width: 479px) {
	.demo { display: block; width: 100%; }
	.demo .demo__content { margin-top: 10px; }
}
/* ------------------------------------------------------------ *\
	Form Elements
\* ------------------------------------------------------------ */
input::-webkit-input-placeholder { color: inherit; opacity: 1; }
input::-moz-placeholder { color: inherit; opacity: 1; }
input:-ms-input-placeholder { color: inherit; opacity: 1; }
input::placeholder { color: inherit; opacity: 1; }
textarea::-webkit-input-placeholder { color: inherit; opacity: 1; }
textarea::-moz-placeholder { color: inherit; opacity: 1; }
textarea:-ms-input-placeholder { color: inherit; opacity: 1; }
textarea::placeholder { color: inherit; opacity: 1; }
input:-webkit-autofill { -webkit-text-fill-color: inherit; -webkit-box-shadow: 0 0 0 1000px #fff inset; }
.field {}
.textarea {}
.select {}
.radio {}
.checkbox {}
/* ------------------------------------------------------------ *\
	Form Subscribe
\* ------------------------------------------------------------ */
.form-subscribe { background: #f28c00; padding: 8px 23px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }
.form-subscribe .form__label { display: none; }
.form-subscribe .form__field { background: #fff; font-size: 13px; color: #acacac; border: 0; border-radius: 0; width: 100%; height: 21px; padding-left: 9px; padding-right: 9px; transition: box-shadow .3s; }
.form-subscribe .form__field:focus { box-shadow: 0 0 3px #f28c00 inset; }
.form-subscribe .form__controls { width: 207px; }
.form-subscribe .form__row { display: -webkit-flex; display: -ms-flexbox; display: flex; }
.form-subscribe .form__btn { border: 0; border-radius: 0; background: #706f6f; color: #dbd8d8; font-size: 12px; padding-left: 5px; padding-right: 7px; }
.form-subscribe .form__actions { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-align-items: stretch; -ms-flex-align: stretch; align-items: stretch; margin-left: 3px; }
@media (max-width: 767px) {
	.form-subscribe { display: none; }
}
/* ------------------------------------------------------------ *\
	Form Secondary
\* ------------------------------------------------------------ */
.form-secondary { font-family: 'Globale', Arial, sans-serif; border: 1px solid #f28c00; border-bottom: 0; border-top-left-radius: 9px; border-top-right-radius: 9px; background: #f8f8f8; margin-bottom: 10px; margin-top: 50px; }
.form-secondary h1 { font-size: 31px; line-height: 1.2; margin-bottom: 44px; }
.form-secondary .form__inner { display: -webkit-flex; display: -ms-flexbox; display: flex; padding-top: 37px; padding-left: 2.7%; padding-right: 2.7%; }
.form-secondary .form__inner > div { -webkit-flex: 0 0 50%; -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; }
.form-secondary .form__head { padding-right: 11%; }
.form-secondary .form__field { width: 100%; background: #fff; border: 1px solid #fff; border-top-color: #d7d7d7; border-radius: 9px; font-size: 30px; height: 49px; padding: 0 20px; transition: box-shadow .3s, border-color .3s; }
.form-secondary .form__field:focus { box-shadow: 0 0 4px #f28c00 inset; border-color: #fff; }
.form-secondary .form__label { display: none; }
.form-secondary .form__body { position: relative; padding-top: 14px; }
.form-secondary .form__actions { position: absolute; bottom: 0; right: 0; }
.form-secondary .form__btn { background: #fff; color: #f28c00; font-size: 19px; padding: 14px 121px 9px; border: 1px solid #f28c00; border-bottom: 0; border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-right-radius: 0; border-bottom-left-radius: 0; transition: background .3s, color .3s; 	-webkit-appearance: none;
	   -moz-appearance: none;
	 		appearance: none; }
.form-secondary .form__btn:hover { background: #f28c00; color: #fff; }
@media (max-width: 767px) {
	.form-secondary { border-radius: 0; margin-left: -10px; margin-right: -10px; border-left: 0; border-right: 0; border-bottom: 1px solid #f28c00; }
	.form-secondary h1 { font-size: 20px; margin-bottom: 13px; }
	.form-secondary .form__inner { display: block; padding-top: 20px; }
	.form-secondary .form__inner > div { max-width: 100%; }
	.form-secondary .form__body { padding-bottom: 80px; }
	.form-secondary .form__field { font-size: 16px; height: 35px; }
	.form-secondary .form__actions { left: 0; text-align: center; }
}
/* ------------------------------------------------------------ *\
	Gadgets
\* ------------------------------------------------------------ */
.gadgets { padding-top: 62px; padding-bottom: 45px; }
.gadgets--row { padding-top: 0; }
.gadgets--row:after { }
.gadgets--row .gadget { float: left; }
.gadgets--row .gadget + .gadget { margin-top: 0; }
.gadget + .gadget { margin-top: 16px; }
@media (max-width: 1023px) {
	.gadgets { padding-top: 30px; }
}
@media (max-width: 767px) {
	.gadgets { padding-top: 8px; padding-bottom: 0; }
	.gadgets + h6 { margin-top: 20px; }
	.gadgets--row { padding-bottom: 20px; }
}
@media (max-width: 479px) {
	.gadget + .gadget { margin-top: 9px; }
}
/* ------------------------------------------------------------ *\
	Info Boxes
\* ------------------------------------------------------------ */
.info-boxes { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; margin-bottom: 56px; }
.info-boxes .info { -webkit-flex: 0 0 49.68%; -ms-flex: 0 0 49.68%; flex: 0 0 49.68%; max-width: 49.68%; }
.info { border-left: 1px solid #f28c00; border-right: 1px solid #f28c00; padding: 5px 12px 0 15px; font-size: 12px; }
.info a { color: #6f6f6e; }
.info a:hover { color: #f28c00; }
.info p { line-height: 1.5; margin-bottom: 10px; }
.info h2 { margin-bottom: 9px; }
.info .info__link { text-align: right; }
.info .info__list { padding-top: 10px; margin-left: 37px; padding-right: 7%; margin-bottom: -9px; }
@media (max-width: 767px) {
	.info-boxes { display: block; margin-bottom: 48px; }
	.info-boxes .info { max-width: none; border: 0; border-bottom: 1px solid #f28c00; margin-left: -10px; margin-right: -10px; }
	.info { padding-left: 5%; padding-top: 13px; }
	.info .info__link { position: relative; right: 9px; padding-top: 1px; padding-bottom: 11px; }
	.info .info__list { margin-bottom: -4px; }
}
@media (max-width: 479px) {
	.info p { margin-bottom: -1px; }
	.info .info__list { margin-left: 13px; }
}
/* ------------------------------------------------------------ *\
	Intro
\* ------------------------------------------------------------ */
.intro { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-direction: row-reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse; }
.intro .intro__image { -webkit-flex: 0 0 42%; -ms-flex: 0 0 42%; flex: 0 0 42%; max-width: 42%; margin-top: -23px; margin-right: -9px; }
.intro .intro__content { -webkit-flex: 0 1 100%; -ms-flex: 0 1 100%; flex: 0 1 100%; max-width: 100%; }
.intro .intro__video { border: 1px solid #acabaa; display: inline-block; margin-left: 29px; margin-right: 72px; position: relative; width: 82%; height: 0; padding-top: 44%; margin-bottom: 20px; }
.intro .intro__video iframe { width: 100%; height: 100%; position: absolute; top: 0; left: 0; }
@media (max-width: 1023px) {
	.intro .intro__video { margin-left: 0; }
	.intro .intro__image { -webkit-align-self: center; -ms-flex-item-align: center; align-self: center; margin-right: 0; }
}
@media (max-width: 767px) {
	.intro { display: block; }
	.intro .intro__image { display: none; }
	.intro .intro__video { width: 100%; }
}
@media (max-width: 479px) {
	.intro .intro__video { padding-top: 55%; }
}
/* ------------------------------------------------------------ *\
	Intro Primary
\* ------------------------------------------------------------ */
.intro-primary { padding-top: 40px; position: relative; }
.intro-primary h1 { margin-bottom: 12px; }
.intro-primary img { margin-left: -22px; }
.intro-primary .intro__content { font-family: 'Globale', Arial, sans-serif; font-size: 22px; line-height: 1.1; position: absolute; bottom: 0; right: 0; background: rgba(255,255,255,.8); border-top: 1px solid #f3971a; border-left: 1px solid #f3971a; border-top-left-radius: 25px; padding: 42px 0 28px 39px; max-width: 377px; margin-right: -31px; }
.intro-primary .intro__content p { margin: 0; }
.intro-primary .intro__content p + p { margin-top: 30px; }
.intro-primary a:hover { color: #f28c00; }
@media (max-width: 1023px) {
	.intro-primary .intro__content { margin-right: -10px; }
}
@media (max-width: 767px) {
	.intro-primary { padding-top: 17px; }
	.intro-primary .intro__content { font-size: 19px; padding: 17px; max-width: 350px; }
	.intro-primary .intro__content p + p { margin-top: 10px; }
}
@media (max-width: 479px) {
	.intro-primary .intro__content { font-size: 17px; padding-top: 11px; padding-bottom: 11px; padding-left: 10px; position: static; border-radius: 0; border-left: 0; border-bottom: 1px solid #f28c00; margin-left: -10px; max-width: none; }
}
/* ------------------------------------------------------------ *\
	Link
\* ------------------------------------------------------------ */
.link-primary { color: #706f6f; }
.link-primary:hover { color: #f28c00; }
/* ------------------------------------------------------------ *\
	List
\* ------------------------------------------------------------ */
[class^="list-"] { list-style: none outside none; }
/* ------------------------------------------------------------ *\
	List Primary
\* ------------------------------------------------------------ */
.list-primary li { padding-left: 9px; line-height: 1.5; position: relative; }
.list-primary li + li { margin-top: 2px; }
.list-primary li:before { content: ''; position: absolute; top: 7px; left: 0; width: 3px; height: 3px; border-radius: 50%; background: #6f6f6e; }
/* ------------------------------------------------------------ *\
	List Secondary
\* ------------------------------------------------------------ */
.list-secondary li { padding-left: 7px; position: relative; }
.list-secondary li:before { content: ''; width: 3px; height: 3px; border-radius: 50%; background: #004e70; position: absolute; left: 0; top: 0.4em; }
.list-secondary li + li { margin-top: 12px; }
.list--darkpink li:before { background: #af0f64; }
/* ------------------------------------------------------------ *\
	List Tertiary
\* ------------------------------------------------------------ */
.list-tertiary { list-style-type: decimal; font-size: 14px; margin-left: 15px; line-height: 1.25; }
.list-tertiary li + li {  margin-top: 1px; }
/* ------------------------------------------------------------ *\
	List References
\* ------------------------------------------------------------ */
.list-references { list-style-type: decimal; font-size: 10px; line-height: 1.4; margin-left: 11px; letter-spacing: -0.017em; }
.list-references a { color: #706f6f; }
.list-references a:hover { color: #f28c00; }
.list-references li + li { margin-top: 1px; }
/* ------------------------------------------------------------ *\
	List Bullets
\* ------------------------------------------------------------ */
.list-bullets li { position: relative; padding-left: 7px; }
.list-bullets li:before { content: ''; width: 3px; height: 3px; border-radius: 50%; background: #f28c00; position: absolute; top: 0.6em; left: 0; }
.list-bullets--gray li:before { background: #706f6f; }
/* ------------------------------------------------------------ *\
	List Info
\* ------------------------------------------------------------ */
.list-info { padding-top: 6px; padding-bottom: 27px; }
.list-info li + li { margin-top: 1px; }
@media (max-width: 767px) {
	.list-info { padding-bottom: 5px; }
}
/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */
.logo { display: block; float: left; position: relative; }
.logo-icon { display: block; background-image: url(../css/images/logo-icon.png); width: 180px; height: 87px; font-size: 0; line-height: 0; background-size: 100% 100%; }
.logo span { font-family: 'Globale', Arial, sans-serif; font-weight: 700; font-size: 16px; letter-spacing: -0.03em; position: absolute; white-space: nowrap; bottom: -3px; left: 130px; }
.logo span:before { content: ''; width: 4px; height: 4px; position: absolute; left: -11px; top: 50%; margin-top: -2px; background: #f28c00; border-radius: 50%; }
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.logo-icon { background-image: url(../css/images/logo-icon@2x.png); width: 180px; height: 87px; background-size: 100% 100%; }
}
@media (max-width: 767px) {
	.logo-icon { width: 146px; height: 73px; background-size: 100% 100%; }
	.logo span { left: 105px; font-size: 13px; bottom: -2px; }
	.logo span:before { width: 3px; height: 3px; left: -8px; margin-top: -1px; }
}
@media (max-width: 479px) {
	.logo-icon { width: 115px; height: 56px; background-size: 100% 100%; }
	.logo span { font-size: 10px; left: 81px; bottom: -2px; }
	.logo span:before { width: 2px; height: 2px; left: -6px; margin-top: -2px; }
}
/* ------------------------------------------------------------ *\
	Nav
\* ------------------------------------------------------------ */
.nav { padding-top: 20px; padding-bottom: 20px; font-size: 13px; margin-bottom: 9px; }
.nav > ul > li > a { color: #787777; display: inline-block; padding-bottom: 8px; font-family: 'Globale', Arial, sans-serif; font-weight: 700; }
.nav > ul > li:hover > a { color: #f28c00; }
.nav > ul > li { position: relative; display: inline-block; border-bottom: 1px solid #f28c00; padding-right: 61px; }
.nav li + li { margin-left: 12px; }
.nav li:hover .nav__arrow:before { background: #f28c00; }
.nav .nav__arrow { width: 42px; height: 42px; background: #f8f8f8; -webkit-transform: translateY(50%); -ms-transform: translateY(50%); transform: translateY(50%); position: absolute; bottom: 0; right: 0; border: 1px solid  #f28c00; border-radius: 50%; }
.nav .nav__arrow span { position: absolute; width: 5px; height: 5px; border-radius: 50%; background: #fff; }
.nav .nav__arrow:before { content: ''; display: inline-block; width: 33px; height: 33px; border-radius: 50%; background-color: #fff; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); border: 1px solid #f28c00; border-radius: 50%; transition: background .3s; }
.nav .nav__arrow span:first-child { top: 15px; left: 11px; }
.nav .nav__arrow span:nth-child(2) { top: 15px; right: 11px; }
.nav .nav__arrow span:nth-child(3) { bottom: 12px; left: 50%; margin-left: -3px; }
.nav .nav__dropdown { font-size: 14px; text-align: center; position: absolute; left: 0; top: calc(100% + 26px); z-index: 5; width: 136px; background: #f28c00; color: #fff; border: 1px solid #f28c00; opacity: 0; visibility: hidden; transition: opacity .3s, visibility .3s; }
.nav > ul > li:hover .nav__dropdown { opacity: 1; visibility: visible; }
.nav .nav__dropdown li + li { margin: 0; }
.nav .nav__dropdown a { color: #fff; background: #f28c00; display: block; padding: 7px 0px 4px; transition: background .3s, color .3s; }
.nav .nav__dropdown a:hover { color: #f28c00; background: #fff; }
.nav .nav__btn { display: none; }
@media (max-width: 1023px) {
	.nav > ul > li { padding-right: 53px; }
	.nav li + li  { margin-left: 7px; }
}
@media(min-width: 768px){
	.nav .nav__dropdown { display: block !important; }
}
@media (max-width: 767px) {
	.nav { position: fixed; top: 0; bottom: 0; right: 0; width: 70%; margin-bottom: 0; background: #f28c00; z-index: 6; text-align: left; padding-left: 25px; padding-top: 60px; -webkit-transform: translateX(100%); -ms-transform: translateX(100%); transform: translateX(100%); transition: -webkit-transform .3s; transition: transform .3s; transition: transform .3s, -webkit-transform .3s; }
	.nav--open { -webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0); }
	.nav .nav__arrow { display: none; }
	
	.nav .has-dd > a:before { content: ''; display: inline-block; width: 7px; height: 7px; border-top: 2px solid #fff; border-right: 2px solid #fff; -webkit-transform: rotate(135deg); -ms-transform: rotate(135deg); transform: rotate(135deg); position: absolute; top: 4px; right: -13px; transition: top .3s, -webkit-transform .3s; transition: transform .3s, top .3s; transition: transform .3s, top .3s, -webkit-transform .3s; }
	.nav .has-dd > a { position: relative; }
	.nav .has-dd > a.open:before { -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); top: 6px; }
	
	.nav > ul > li { display: block; }
	.nav > ul > li > a { color: #fff; font-size: 18px; }
	.nav li + li  { margin-left: 0; margin-top: 5px; }
	.nav .nav__btn { top: 30px; display: block; }
	.nav .nav__btn span { background: #fff; }

	.nav > ul > li:hover > a { color: #fff; }
	.nav .nav__dropdown { display: none; position: static; opacity: 1; visibility: visible; text-align: left; width: 100%; }
	.nav .nav__dropdown a { color: #fff; padding-left: 15px; }
	.nav .nav__dropdown a:hover { background-color: transparent; color: #fff; }
}
@media (max-width: 479px) {
	.nav { width: 100%; }
}
/* ------------------------------------------------------------ *\
	Nav Primary
\* ------------------------------------------------------------ */
.nav-primary { font-size: 13px; }
.nav-primary li { display: inline-block; }
.nav-primary li + li { margin-left: 39px; }
.nav-primary a { color: #706f6f; }
.nav-primary a:hover { color: #dc5f05; }
.nav-primary a:after { content: ''; display: inline-block; width: 18px; height: 18px; border-radius: 50%; border: 1px solid #f28c00; background: #fff; transition: background .3s; vertical-align: bottom; margin-left: 10px; }
.nav-primary a:hover:after { background: #f28c00; }
@media (max-width: 767px) {
	.nav-primary { display: none; }
}
/* ------------------------------------------------------------ *\
	Nav Secondary
\* ------------------------------------------------------------ */
.nav-secondary { font-size: 10px; }
.nav-secondary li + li { margin-top: 9px; }
.nav-secondary a { color: #706f6f; }
.nav-secondary a:hover { color: #f28c00; }
@media (max-width: 767px) {
	.nav-secondary { text-align: center; font-size: 12px; }
	.nav-secondary li { display: inline-block; }
	.nav-secondary li + li { margin-left: 12px; }
}
@media (max-width: 479px) {
	.nav-secondary { font-size: 11px; }
	.nav-secondary li + li { margin-left: 4px; }
}
/* ------------------------------------------------------------ *\
	Nav Tertiary
\* ------------------------------------------------------------ */
.nav-tertiary { font-size: 19px; text-align: center; font-family: 'Globale', Arial, sans-serif; font-weight: 700; }
.nav-tertiary a { background: #f28c00; color: #fff; display: block; padding-top: 10px; padding-bottom: 12px; border: 2px solid #f28c00; border-bottom: 0; transition: background .3s, color .3s; }
.nav-tertiary a:hover { background: transparent; color: #f28c00; }
.nav-tertiary ul { display: -webkit-flex; display: -ms-flexbox; display: flex; width: 100%; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }
.nav-tertiary li { -webkit-flex: 0 0 29.4%; -ms-flex: 0 0 29.4%; flex: 0 0 29.4%; max-width: 29.4%; }
@media (max-width: 479px) {
	.nav-tertiary li { -webkit-flex: 0 0 32%; -ms-flex: 0 0 32%; flex: 0 0 32%; max-width: 32%; }
	.nav-tertiary a { padding-top: 8px; padding-bottom: 8px; }
}
/* ------------------------------------------------------------ *\
	Product
\* ------------------------------------------------------------ */
.products { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; margin-left: -0.31%; margin-right: -0.31%; padding-bottom: 30px; }
.product { border: 1px solid #f28c00; -webkit-flex: 0 0 24.4%; -ms-flex: 0 0 24.4%; flex: 0 0 24.4%; max-width: 24.4%; margin-left: 0.31%; margin-right: 0.31%; position: relative; }
.product img { position: absolute; top: -26px; left: 45%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); transition: top .3s; }
.product a:hover img { top: -23px; }
.product h4 { margin-bottom: -2px; }
.product .product__content { position: relative; background: rgba(255,255,255,.8); padding: 6px 9px 5px; font-size: 11px; line-height: 1.5; }
.product a { transition: color .3s; }
.product a:hover { color: #f28c00; }
.product .product__background { min-height: 71px; position: relative; overflow: hidden; }
.product .product__background span { width: 230px; height: 230px; border-radius: 50%; display: inline-block; position: relative; position: absolute; top: -49px; left: -20px; }
.product--darkpink a { color: #af0f64; }
.product--darkpink .product__background span { background: rgb(238,213,224);
background: linear-gradient(to right,  rgba(238,213,224,1) 0%,rgba(250,242,246,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eed5e0', endColorstr='#faf2f6',GradientType=1 );
 }
.product--pink a { color: #ea66a2; }
.product--pink .product__background span { background: rgb(243,166,188);
background: linear-gradient(to right,  rgba(243,166,188,1) 0%,rgba(251,223,235,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3a6bc', endColorstr='#fbdfeb',GradientType=1 );
 }
.product--blue a { color: #005680; }
.product--blue .product__background span { background: rgb(199,211,215);
background: linear-gradient(to right,  rgba(199,211,215,1) 0%,rgba(236,243,247,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7d3d7', endColorstr='#ecf3f7',GradientType=1 );
 }
.product--green a { color: #81ba26; }
.product--green .product__background span { background: rgb(233,241,215);
background: linear-gradient(to right,  rgba(233,241,215,1) 0%,rgba(246,250,239,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9f1d7', endColorstr='#f6faef',GradientType=1 );
 }
@media (max-width: 767px) {
	.products { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; margin: 0 -4px 0; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; margin-bottom: -40px; }
	.product { -webkit-flex: 0 0 49%; -ms-flex: 0 0 49%; flex: 0 0 49%; max-width: 49%; margin: 0 0 43px; }
}
/* $breakpoint-mobile-portrait {
	.products { display: block; }
	.product { max-width: 100%; margin-bottom: 37px; }
} */
/* ------------------------------------------------------------ *\
	Product Primary
\* ------------------------------------------------------------ */
.products-primary { list-style-type: none; padding-top: 31px; }
.product-primary { display: -webkit-flex; display: -ms-flexbox; display: flex; font-size: 16px; padding-bottom: 52px; position: relative; }
.product-primary + .product-primary { padding-top: 65px; }
.product-primary + .product-primary:before {  }
.product-primary h2 { margin-bottom: 15px; font-weight: 400; }
.product-primary .product__image { -webkit-flex: 0 0 24%; -ms-flex: 0 0 24%; flex: 0 0 24%; max-width: 24%; text-align: center; }
.product-primary .product__content { -webkit-flex: 0 1 100%; -ms-flex: 0 1 100%; flex: 0 1 100%; padding-left: 7.5%; padding-top: 15px; }
.product-primary .product__list { margin-top: -7px; }
.product-primary + .product-primary:before { content: ''; height: 1px; position: absolute; top: 0; left: 0; right: 0;
background: linear-gradient(to right,  rgba(217,216,216,0) 0%,rgba(217,216,216,0.8) 32%,rgba(217,216,216,0.8) 50%,rgba(217,216,216,0.8) 68%,rgba(217,216,216,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d9d8d8', endColorstr='#00d9d8d8',GradientType=1 );
 }
@media (max-width: 1023px) {
 	.products-primary { padding-top: 10px; }
 	.product-primary { padding-bottom: 30px; -webkit-align-items: center; -ms-flex-align: center; -ms-grid-row-align: center; align-items: center; }
	.product-primary + .product-primary { padding-top: 22px; }
 }
@media (max-width: 479px) {
 	.products-primary { padding-top: 20px; }
 	.product-primary { display: block; padding-bottom: 20px; }
 	.product-primary .product__image  { max-width: none; }
 	.product-primary .product__content { padding: 12px 0 0; }
 }
/* ------------------------------------------------------------ *\
 	Product Secondary
 \* ------------------------------------------------------------ */
.products-secondary { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }
.products-secondary > div { -webkit-flex: 0 0 48.7%; -ms-flex: 0 0 48.7%; flex: 0 0 48.7%; max-width: 48.7%; }
.product-secondary { padding-top: 11px; padding-bottom: 41px; text-align: center; min-height: 276px; }
.product-secondary h4 { font-weight: 400; font-size: 16px; margin-bottom: 42px; }
.product-secondary img,
.product-secondary a { display: block; transition: color .3s, opacity .3s; }
.product-secondary a:hover { color: #f28c00; opacity: .8; }
.product-secondary img { width: 72%; height: auto; margin: 0 auto; }
.product-secondary--darkpink {
background: linear-gradient(to bottom,  rgba(189,209,218,0) 0%,rgba(223,176,196,1) 72%,rgba(223,176,196,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bdd1da', endColorstr='#dfb0c4',GradientType=0 );
 }
.product-secondary--blue {
background: linear-gradient(to bottom,  rgba(189,209,218,0) 0%,rgba(148,183,209,1) 72%,rgba(148,183,209,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bdd1da', endColorstr='#94b7d1',GradientType=0 );
}
.product-secondary--green {
background: linear-gradient(to bottom,  rgba(189,209,218,0) 0%,rgba(220,233,192,1) 72%,rgba(220,233,192,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bdd1da', endColorstr='#dce9c0',GradientType=0 );
}
.product-secondary--pink {
background: linear-gradient(to bottom,  rgba(189,209,218,0) 0%,rgba(250,219,230,1) 72%,rgba(250,219,230,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bdd1da', endColorstr='#fadbe6',GradientType=0 );
}
@media (max-width: 1023px) {
	.product-secondary { min-height: 273px; }
}
@media (max-width: 479px) {
	.products-secondary { display: block; }
	.products-secondary > div { max-width: 100%; }
	.product-secondary { margin-bottom: 30px; }
}
/* ------------------------------------------------------------ *\
	Product Info
\* ------------------------------------------------------------ */
.product-info { display: -webkit-flex; display: -ms-flexbox; display: flex; padding-top: 14px; }
.product-info h3 { font-size: 25px; font-weight: 400; margin-bottom: 2px; }
.product-info .product__content,
.product-info .product__aside { -webkit-flex: 0 0 50%; -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; }
.product-info .product__content { padding-top: 63px; padding-left: 6.3%; }
.product-info .product__aside { text-align: center; }
@media (max-width: 767px) {
	.product-info { display: block; }
	.product-info h3 { margin-bottom: 10px; }
	.product-info .product__content,
	.product-info .product__aside { max-width: 100%; }
	.product-info img { margin-bottom: 15px; }

	.product-info .product__content { padding-top: 15px; padding-left: 0; }
}
/* ------------------------------------------------------------ *\
	References
\* ------------------------------------------------------------ */
.references { max-width: 440px; }
.references--secondary { max-width: 741px; margin: 0 auto; padding-bottom: 50px; }
@media (max-width: 767px) {
	.references--secondary { padding-bottom: 0; }
}
/* ------------------------------------------------------------ *\
	Section
\* ------------------------------------------------------------ */
.section { padding-top: 43px; position: relative; }
.section:last-child .shell { padding-bottom: 98px; }
.section p { line-height: 1.55; padding-right: 26%; }
.section h2 { font-weight: 400; margin-bottom: 10px; }
.section .section__list { padding-top: 11px; padding-bottom: 27px; }
.section .shell { position: relative; padding-bottom: 36px; }
.section .section__link { position: absolute; bottom: 35px; left: -176px; }
.section .section__btn { position: absolute; bottom: -18px; left: 38%; z-index: 5; }
.section > .shell { position: relative; }
.section > .shell:after { content: ''; height: 1px; position: absolute; bottom: 0; left: 0; right: 0;
background: linear-gradient(to right,  rgba(217,216,216,0) 0%,rgba(217,216,216,0.8) 32%,rgba(217,216,216,0.8) 50%,rgba(217,216,216,0.8) 68%,rgba(217,216,216,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d9d8d8', endColorstr='#00d9d8d8',GradientType=1 );
 }
.section--gray-gradient {
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(240,240,240,0) 81%,rgba(236,236,236,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ececec',GradientType=0 );
}
.section--blue-pink-gradient {
background: linear-gradient(to bottom,  rgba(189,209,218,1) 0%,rgba(196,213,221,0) 12%,rgba(221,225,231,0) 52%,rgba(245,237,240,0) 91%,rgba(251,240,242,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bdd1da', endColorstr='#fbf0f2',GradientType=0 );
}
.section--green-gradient {
background: linear-gradient(to bottom,  rgba(189,209,218,0) 0%,rgba(222,237,199,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bdd1da', endColorstr='#deedc7',GradientType=0 );
}
@media (max-width: 1200px) {
	.section .section__link { left: 0; }
}
@media (max-width: 1023px) {
	.section p { padding-right: 0; }
	.section .section__btn { left: 50%; margin-left: -17px; }
}
@media (max-width: 767px) {
	.section .shell { padding-bottom: 25px; }
	.section .section__list { margin-bottom: 0; padding-top: 5px; padding-bottom: 20px; }
	.section .section__link { position: static; display: inline-block; margin: 6px 0 12px; }

	.section:last-child .shell { padding-bottom: 20px; }
}
@media (max-width: 479px) {
	.section:last-child .shell { padding-bottom: 10px; }
}
/* ------------------------------------------------------------ *\
	Table
\* ------------------------------------------------------------ */
.table {}
/* ------------------------------------------------------------ *\
	Text
\* ------------------------------------------------------------ */
.text-orange { color: #f28c00; }
.text-blue { color: #004e70; }
.text-green { color: #81bb26; }
.text-pink { color: #ea66a2; }
.text-darkpink { color: #af0f64; }
/* ------------------------------------------------------------ *\
	Widget
\* ------------------------------------------------------------ */
.widgets { list-style: none outside none; }
/* ------------------------------------------------------------ *\
	Widget Primary
\* ------------------------------------------------------------ */
.widget-primary { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
.widget-primary h6 { margin-bottom: 4px; }
.widget-primary a { color: #706f6f; }
.widget-primary a:hover { color: #f28c00; }
.widget-primary .widget__image { -webkit-flex: 0 0 12%; -ms-flex: 0 0 12%; flex: 0 0 12%; max-width: 12%; }
.widget-primary .widget__content { -webkit-flex: 0 1 100%; -ms-flex: 0 1 100%; flex: 0 1 100%; max-width: 100%; padding-left: 8.4%; font-size: 10px; }
.widget-primary .widget__content p { line-height: 2; }
.widget-primary .ico-warning { background: url(../css/images/ico-warning.png) no-repeat 0 0; background-size: 100% 100%; width: 55px; height: 55px; display: inline-block; vertical-align: middle; font-size: 0; }
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.widget-primary .ico-warning { background: url(../css/images/ico-warning@2x.png) no-repeat 0 0; width: 55px; height: 55px; background-size: 100% 100%; }
}
@media (max-width: 767px) {
	.widget-primary { -webkit-align-items: flex-start; -ms-flex-align: start; -ms-grid-row-align: flex-start; align-items: flex-start; }
	.widget-primary .widget__image { text-align: center; }
	.widget-primary .widget__content { padding-left: 14px; }
	.widget-primary .widget__content p { line-height: 1.4; }
}
@media (max-width: 479px) {
	.widget-primary .widget__image i { width: 40px; height: 41px; background-size: 100% 100%; }
}
/* ------------------------------------------------------------ *\
	Widget Weather
\* ------------------------------------------------------------ */
.widget-weather { max-width: 884px; margin: 0 auto 50px; font-family: 'Globale', Arial, sans-serif; }
.widget-weather h3 { font-weight: 400; }
.widget-weather .widget__head { text-align: center; color: #f28c00; border-bottom: 1px solid #f7f6f6; margin-bottom: 8px; padding-bottom: 4px; }
.widget-weather .widget__body { background: #f28c00; color: #fff; max-width: 533px; margin: 0 auto; padding-top: 7px; padding-bottom: 9px; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
.widget-weather .widget__image { -webkit-flex: 0 0 28%; -ms-flex: 0 0 28%; flex: 0 0 28%; max-width: 28%; }
.widget-weather .widget__content { -webkit-flex: 0 0 37%; -ms-flex: 0 0 37%; flex: 0 0 37%; max-width: 37%; margin-top: -7px; }
.widget-weather .widget__content,
.widget-weather .widget__image { text-align: center; }
.widget-weather strong { font-size: 58px; font-weight: 400; display: block; position: relative; padding-bottom: 0; margin-bottom: -1px; }
.widget-weather strong:after { content: ''; height: 1px; position: absolute; bottom: 3px; left: 0; right: 0;
background: linear-gradient(to right,  rgba(245,168,62,0) 0%,rgba(245,168,62,0.8) 32%,rgba(245,168,62,0.8) 50%,rgba(245,168,62,0.8) 68%,rgba(245,168,62,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f5a83e', endColorstr='#00f5a83e',GradientType=1 );
 }
.widget-weather strong sup { font-size: 31px; vertical-align: top; }
.widget-weather span { display: block; font-size: 19px; }
.widget-weather span + span { margin-top: 2px; }
@media (max-width: 767px) {
	.widget-weather { margin: 0 -15px 0; }
}
